[2019-07-10 10:46] edalongeville commented on #774
Thanks a lot @ArthurMa1978 !

[2019-07-11 16:41] CodeNameHawk commented on #851
@ArthurMa1978
now work Select Serial Port, and Open Serial Monitor,
but I use an USB-COM adapter FTDI FT232RL with control DTR and RTS, to automatic programming ESP8266
Unfortunately, the plugin incorrectly sets the levels to DTR and RTS, which does not allow to use normally Serial Monitor

[2019-07-12 08:10] ChipTechno commented on #840
Hello. I have the same problem.
There are 2 config, <code>arduino.commandPath</code> and  <code>arduino.path</code>. The <code>arduino.path</code> is the directory cotains your arduino executable file. The <code>arduino.commandPath</code> is the executable file name.
In my case <code>arduino.path</code> is <code>/usr/share/arduino</code> and <code>arduino.commandPath</code> is <code>/arduino</code

[2019-07-12 16:24] WilliamAtek opened #865 "Serial monitor not working on ESP32"
With the esp32 and ftdi. The problem is caused by the DTR line pulled LOW keeping the esp32 in reset state. You have to let the dtr going back HIGH so that the esp32 can reboot.

If not the serial won't work.

[2019-07-13 02:48] clarkbremer opened #866 "identifier "Serial1" is undefined"
I have an Arduino Mega 2560.  It has 3 serial ports.  The standard is "Serial", the others are "Serial1" and "Serial2".  VSCode doesn't have a problem with "Serial", but shows an error for "Serial1".  Code compiles and uploads just fine, but would be nice not get this error message.

Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electr

[2019-07-13 12:38] LEAFERx commented on #842
Same problem. It also occurred after output path was set. There was also no build logs (even the build folder was not created).

[2019-07-14 05:21] #837 closed

[2019-07-15 02:56] ArthurMa1978 commented on #865
This is a problem from esp32 sdk, please open issue in https://github.com/espressif/arduino-esp32

[2019-07-15 02:56] #865 closed

[2019-07-15 03:08] ArthurMa1978 commented on #851
@CodeNameHawk thanks for report this, can you help to file a new issue to us?

[2019-07-15 03:15] ArthurMa1978 commented on #850
If without the c_cpp_properties.json file the IntelliSense of C/C++ will totally not work, and most of our customers don't know how to fix this file, this why we provide this automation function.
How about add this file to gitignor?

[2019-07-15 03:19] ArthurMa1978 commented on #846
Dup with #851

[2019-07-15 03:19] ArthurMa1978 commented on #846
Fixed since v0.2.27, thanks @curdeveryday

[2019-07-15 03:22] ArthurMa1978 commented on #843
thanks @Nathan-ma and @pmckinney1971

[2019-07-15 03:22] #843 closed

[2019-07-15 03:28] ArthurMa1978 commented on #840
Thanks @ChipTechno, hope this can help @iplayfast

[2019-07-15 03:28] #840 closed

[2019-07-15 12:53] CodeNameHawk commented on #851
@ArthurMa1978 Ok.

[2019-07-15 12:54] CodeNameHawk opened #867 "Serial monitor not wok on FTDI"
I use an USB-COM adapter FTDI FT232RL with control DTR and RTS, to automatic programming ESP8266
Unfortunately, the plugin incorrectly sets the levels to DTR and RTS, which does not allow to use normally Serial Monitor

[2019-07-15 12:57] CodeNameHawk commented on #867
Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:58:59.274Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT ia32 10.0.18362

Arduino 0.2.27

[2019-07-16 01:32] Dotrar commented on #838
Submitted a PR for it.

I wasn't even going to add an option to support PDE because it's not the correct filetype ( I also don't know how to do option-based filetypes )

Ultimately, do things proper. If arduino examples are in PDE then THEY are wrong; not the tool.

[2019-07-16 06:28] bfxdev commented on #850
Thanks for feedback and the work on this issue.

Well, I understand the difficulty to build the json file, no question about
that.  That is why I want to provide a good, default-engine-capable json
file with my sketches for anybody trying to follow or modify the code with
VSCode, after cloning the git repository.

So adding the file to .gitignore is no option, because the file would not
be cloned.

[2019-07-18 15:16] #818 closed

[2019-07-20 11:21] raghur commented on #835
No thanks - that was what this was for :).  There's been no response from the repo owners either acking the issue or otherwise and a bot just closes the issue (so it means that no one will probably look at it). Good luck with getting community participation/feedback.

[2019-07-20 21:01] #829 closed

[2019-07-21 00:11] jkwphysics commented on #842
Same here, except I do have the output configured.  Any ideas what EPERM means?

[2019-07-21 00:14] jkwphysics commented on #842
Unable to verify or upload with Arduino Uno R3.  Using Windows 10 app with same result.
"[Error] Exit with code=EPERM"

[2019-07-21 05:38] thangiot commented on #805
I've got the same problem but I cannot solve my problems with these instructions above. I used Arduino 1.8.9, vscode 1.36.1, Windows 10, Arduino Path: "C:\Program Files (x86)\Arduino" . Thanks
[code]

arduino.json
[code]

c_cpp_properties.json
[code]
settings.json
[code]

[2019-07-21 08:13] thangiot opened #869 "Exit with code=undefined"
I've got the same problem #805 but I cannot solve my problems with these instructions in there. I used Arduino 1.8.9, vscode 1.36.1, Windows 10, Arduino Path: "C:\Program Files (x86)\Arduino" . Please help me, thanks.
[code]

arduino.json
[code]

c_cpp_properties.json
[code]
settings.json
[code]

_Originally posted by @thangiot in https://github.com/microsoft/vscode-arduino/issues/805#issuecomment

[2019-07-21 10:54] desprit commented on #370
@khaled-hamam

You saved my day!
I hide things like `.vsode`, virtualenvs and similar stuff from the Explorer to make it more clean. And I have no idea how it may affect Job Board selection. But as soon as I removed `.vscode` from `hide` rules in vscode, I was finally able to select the board type.

[2019-07-22 02:52] mMerlin commented on #830
A partial work around (currently) is to change the `sketchbook.path` entry in the Arduino preferences.txt file.  `$HOME/.arduino15/preferences.txt` on my Fedora 30 system.
A single entry, but at least you can move the sketchbook, and contained libraries path, to some place else.  Per user, per folder, configuration overrides, and a list, would be nice.

[2019-07-22 20:32] mMerlin commented on #618
Currently there does not appear to be a way to do what you want.  The entries in `c_cpp_properties.json` for `includePath` tell intellisense where to look.  They do *NOT* tell the compiler.  There does not seem to be a makefile (as such) saved where I could find it.  However, if you have added an `output` path entry in `.vscode/arduino.json` for the protect, go there and look at `build.options.jso

[2019-07-22 20:56] mMerlin commented on #850
I think you can do both.  Add the c_cpp_properties.json to your git repository, AND specify it in the .gitignore file.  It will be in the repository, and downloaded when the repository is cloned, but git will not offer to add any changes to it back to the repository on `git add -A`.  Someone in the know can still make changes by explicitly adding the changed file to staging.  Even if that means te

[2019-07-22 21:07] mMerlin commented on #842
The folder specified with `output` in `arduino.json` needs to exist before attempting a compile.  It is never (and not supposed to be) created.  It is an area to store work in progress and compile history information, but it needs to exist to be used.

That is separate from the other problem.  The initial poster referenced blink.ino though.  If that is from the standard examples, it is possible th

[2019-07-22 21:14] mMerlin commented on #838
I can't really agree with that.  The Arduino IDE prior to version 1.0 used the .pde extension for all sketches.  That are plenty of sketches still around with that extension, because there has been no need to make any changes to them.  The work just fine as they are.  Removing the ability to use pde files in the vscode Arduino extension would break compatibility with the Arduino IDE.  It should no

[2019-07-22 21:29] mMerlin opened #870 "cannot open source file intellisense error for file that is never opened"
It would be nice if the intellisense parse did not complain about not being able to open include files that the compiler never accesses anyway.  There are some issues posted that sound similar, but were due to problems with the `includePath` entry in `c_cpp_properities.json`.  This is not.  The referenced file does not exist at all, and does not need to exist for the current environment.

[code]

[2019-07-22 21:40] Dotrar commented on #838
The only reason why I or thugpanda are against .pde is because other programs want to use PDE and arduino _specifically_ doesn't.

No there isn't; Arduino ide AND this tool would convert it to INO since 1.0 - we are now at 1.8.9
any .pde sketch hasn't been touched for years. Arduino hasn't changed because Arduino is a lazy company; the SD card examples have never worked and other people had to re-

[2019-07-22 22:03] mMerlin commented on #838
I stand corrected.  My memory said that Arduino IDE offered to convert pde to ino, but did not enforce it.  Probably a change several versions ago that I did not notice.  Having already converted all of my own pde files to ino.  I've been working with this long enough to see all pde files, then a mixture of pde and ino.  Now __SHOULD__ be only ino.  For Arduino.

[2019-07-24 08:07] vishnumaiea commented on #838
So when are we going to be able to work with Arduino sketches and Processing files together ? IMO, changing the file extension without user confirmation is recklessness for whatever reason someone is doing it for!

[2019-07-24 11:41] #834 closed

[2019-07-24 16:56] mMerlin commented on #838
Changing pde to ino was initially being done by the Arduino IDE.  That is not a general purpose editor.  The only things that should be opened there are Arduino sketch files, regardless of what the file extension says.  So there should be no conflict changing the extension there.

Visual Studio code **is** a general purpose editor.  The arduino extension was trying to handle anything that the Ardu

[2019-07-25 21:01] #836 closed

[2019-07-27 20:08] Khobalt commented on #807
Same

[2019-07-27 21:19] ImolaS3 opened #871 "Not finding header files - is it reading c_cpp_properties?"
Hopefully someone can help - I have spent 2 weeks trying to fix this and exhausted pages of google results :(

I use a Mac mostly these days and wanted a nice "proper" IDE for Mac and VSCODE seemed to fit the bill.

I have it working fine if I place my custom headers in the actual project folder and use"" to point to them, but when placed in another folder using <>, it always fails.

I have added

[2019-07-27 22:19] ImolaS3 commented on #871
I am pretty sure the3 compilation is not even looking at c_cpp_properties.json as whatever i do to it, the error remains the same, none added, none taken away even if i delete the .json file it still has exactly the same error

Someone please help :(

[2019-07-29 06:44] Aaronwang81 opened #875 "中文Win7，vscode输出窗口中文乱码"
vscode + arduino 1.8.9
win7 64
输出窗口显示乱码
![image](https://user-images.githubusercontent.com/37022191/62027031-40078900-b20f-11e9-9092-eac121f294db.png)

[2019-07-29 17:40] muesli commented on #829
I can still reproduce this with the latest release of both the app and the extension on Arch Linux.

[2019-07-29 23:06] supaplextor opened #876 "Missing #define ARDUINO 10808 logic?"
Same issue as reported here: https://github.com/microsoft/vscode-arduino/issues/829#issuecomment-502337491

Without the manual define, the includes don't work.

[code]

[code]

Ubuntu 18.04.2 LTS

[2019-07-30 08:39] Dotrar commented on #838
PR is merged! :tada:

[2019-07-30 10:09] BasixKOR commented on #818
Having same issue.

[2019-08-01 03:15] zunhu commented on #875
Hi @Aaronwang81  ,  try to modify with running system.

refer : https://forum.arduino.cc/index.php?topic=76658.0

[2019-08-01 03:33] KThen commented on #869
I've got the same issue. Someone please look into this.

[2019-08-01 06:19] Aaronwang81 commented on #875
Sorry，It doesn't work。

[2019-08-01 06:38] Aaronwang81 commented on #875
Maybe I known what happen。
The arduino_debug.exe output UTF-8 strings。（I redirect it to a txt file。）
But the VSCode output trade it as GBK。。。
How can I change it to UTF-8？

[2019-08-01 06:58] Aaronwang81 commented on #875
In vscode-arduino/src/common/util.ts lines 209
Befault cp  is 65001
But，if os is win32，It will get the chcp（for me, it is 936）， not match arduino_debug.exe's output。
I think it's a bug。-_-

[2019-08-01 07:50] zunhu commented on #869
@thangiot @KThen. have you try these steps? in #805

1.Open Arduino IDE to update board packages and compile the project.
2.Open Arduino Board Manager in VS Code Arduino extension to see if the page load correctly.
3.Arduino CLI may be blocked by Windows firewall. A file called arduino_debug.exe should be in your Arduino IDE installation folder, and VS Code extension calls this file to execute Ard

[2019-08-01 09:14] KThen commented on #869
1. I am able to compile from within Arduino IDE.
2. I am able to open Arduino Board Manager in VS Code Arduino extension.
3. I have already whitelisted both arduino.exe and arduino_debug.exe in Windows Defender Firewall.

I've used many times this extension in the past and have no issues with it, this just occurs recently. I can't recall exactly when it happened, but I suspect it is not a problem

[2019-08-01 09:25] KThen commented on #869
![image](https://user-images.githubusercontent.com/33518115/62281834-0b9b0380-b481-11e9-9e9a-3be2b27b9eff.png)

Does it help if I attach a debug message? I don't think it is relevant but maybe it will give clues?

Here on log.ts line 173 is the original error. I added a line to print out arduinoContext_1.default in serialMonitor.js and I noticed _arduinoApp, _debuggerManager and _boardManager are

[2019-08-02 12:11] LuckyXixi commented on #842
Same Problem. I use Win10 Arduino app with the same result. So I try download the installer from the official website. Then everything seems like work well!

ps: even if you not create the output folder, the arduino plugin well automatically help you create one, but make sure you already have setted up the output path in arduino.json

[2019-08-02 20:42] #727 closed

[2019-08-03 07:08] afzalmushtaque commented on #410
If anyone else reading this is trying to "Verify"/"Upload" using VSCode instead of Arduino IDE, please open the command palette by pressing the F1 key and select "Arduino: Verify"/"Arduino: Upload".

[2019-08-04 21:21] jscheel opened #877 "Status bar always active"
Not sure if something has changed on my end, but my status bar always shows all of the arduino actions now, even in projects/files that have nothing to do with arduino.

[2019-08-05 14:34] DeshmukhMalhar opened #878 "Auto create an output folder under .vscode folder if not specified by user"
Currently, we need to specify an folder to hold all build data of arduino extension.
What if we create a folder inside .vscode folder, where arduino.json lives, and normally .vscode is ignored for git by everyone.

So, this will speed up build process.
Any users wanting to change build output can change it in arduino.json

Is this feasible ?

[2019-08-07 14:53] realivanjx opened #879 "Weird arduino serial output"
When i compile any code that uses `Serial.print` it prints very weird message:

![image](https://user-images.githubusercontent.com/12814796/62632870-676ffb80-b95d-11e9-88e6-3b7545bb3f37.png)

![image](https://user-images.githubusercontent.com/12814796/62632909-7a82cb80-b95d-11e9-9b90-83490641be67.png)

But when i copied all my code to the original arduino ide and upload it from there, it works jus

[2019-08-08 06:59] zunhu commented on #879
@realivanjx what's your OS?
looks similar with https://forum.arduino.cc/index.php?topic=76658.0

[2019-08-08 07:02] realivanjx commented on #879
Windows 10 latest

[2019-08-08 07:03] zunhu commented on #877
@jscheel what's your OS, Arduino, Arduino extension version?

and can you please paste screenshot for it?

[2019-08-08 15:51] dasfdlinux opened #880 "Cannot set output folder using Environment Variable"
When attempting to set an Output folder in Windows using an environment variable, it is getting treated as a relative path. Am I using the environment variables incorrectly? I referenced [https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables](https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables) and #450

arduino.json
`{
    "port": "C

[2019-08-09 07:05] zfm076 commented on #875
@Aaronwang81 问题解决了么？我也是编译过程信息乱码，设置了一遍还是不行。

[2019-08-11 03:36] danpeig commented on #598
Agree!

[2019-08-12 20:14] IanBellomy commented on #271
I can't get an existing project to verify or compile when using @lollotek's work-around.

Many peculiar issues where a function, const, or variable declared in a secondary file can't be found when used in that same file.

Are you just changing back the extensions when you go to build?

[2019-08-13 08:49] cubex108 commented on #875
There is a method here for reference. @Aaronwang81
https://blog.csdn.net/weixin_45033342/article/details/90574434

[2019-08-13 23:10] Hi007 commented on #438
hi there,
I'm a newbie playing with MXchip and going through DPS tutorial https://docs.microsoft.com/en-us/azure/iot-dps/how-to-connect-mxchip-iot-devkit. I get the error "include file not found in browse.path." for 4 include files..

Seems like this thread talks about Tag Parser however I couldn't find c_cpp_properties.json.

Can someone be kind to provide step by step instructions to fix this pr

[2019-08-14 12:34] he0119 commented on #875
This method fixed the problem. But it also prevents Final Fantasy XIV(China Version) from starting.😂

[2019-08-15 09:44] rei-vilo commented on #356
A temporary solution is the **Shortcut Menu Bar** [jerrygoyal.shortcut-menu-bar](https://marketplace.visualstudio.com/items?itemName=jerrygoyal.shortcut-menu-bar).

[2019-08-15 09:49] rei-vilo commented on #355
@JamesCoyle

Does upload works as expected? Teensy has specific upload and terminal procedures, hence the dedicated IDE Teensyduino.

[2019-08-15 09:50] rei-vilo commented on #354
Any news on this and related topics?

[2019-08-15 09:55] rei-vilo commented on #355
@yaohaizh

By providing documentation (especially on hard-coded elements) and guidance on how to adapt the VSCode Arduino extension to other Arduino-compliant platforms, VSCode could position itself as the next IDE of choice for fast prototyping.

[2019-08-15 12:16] rei-vilo commented on #856
@ArthurMa1978

Some references:
+ [Announcing the Arduino Command Line Interface (CLI)](https://blog.arduino.cc/2018/08/24/announcing-the-arduino-command-line-interface-cli/)
+ [Arduino command line interface](https://github.com/arduino/arduino-cli) repository

[2019-08-16 03:29] supaplextor commented on #876
supaplex@supaplex-N56JR:~$ dpkg -l code-insiders
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name           Version      Architecture Description
+++-==============-============-============-=================================
ii  code-insiders  1.37.0-15650 amd

[2019-08-17 08:30] Guoliang-Zhong commented on #875
In this mothod, https://blog.csdn.net/weixin_45033342/article/details/90574434 ,changing to UTF-8 will cause many problems! like when open txt, it will shows error codes also.
so I setup language of Arduino IDE to English.

那个使用Bata版 utf-8的方法，会造成更多的问题！很多.txt和软件都会显示乱码！所以我还是换成了英文。

[2019-08-17 18:11] mellertson commented on #644
Also worked for me running Ubuntu 18.10.

[2019-08-19 01:40] Aaronwang81 commented on #875
找到vscode-arduino插件的安装目录，把util.js第215行注释掉就可以了。
前提是你用的arduino 1.8.9版本。
文件具体位置：x:\userdata\'yourusername'\.vscode\extensions\vsciot-vscode.vscode-arduino-0.2.27\out\src\common\
我是win7系统。如果路径不对，你们直接用文件工具找对应的文件名就可以了。改完重启vscode马上OK。

[2019-08-20 08:35] zunhu commented on #879
same issue with #875 , mark as bug.

[2019-08-20 08:41] zunhu commented on #867
can you try to not use automatic programming ESP8266 and select right programming?
sometimes auto selected was wrong.

[2019-08-20 08:45] zunhu commented on #877
not sure if it is temporary issue, since long time no active, issue closed, please assign another issue if still happen.

[2019-08-20 08:45] #877 closed

[2019-08-20 11:53] CodeNameHawk commented on #867
Automatic programming normal work , but after programning not work Serial Monitor.

[2019-08-20 12:11] dilin-MS commented on #880
Hi, the `${variableName}` syntax is supported in VS Code's built-in `launch.json` and `tasks.json` files( as the [link](https://code.visualstudio.com/docs/editor/variables-reference#_environment-variables) suggests). Currently arduino extension's configuration file `arduino.json` does not support the environment variable.

[2019-08-20 12:50] dasfdlinux commented on #880
Thanks, I see that now. I clearly skimmed over the first paragraph on that page. This would be a great enhancement.

[2019-08-20 15:05] ameer1234567890 commented on #857
happens for me too

[2019-08-20 15:58] jscheel commented on #877
MacOS 10.12.5

Name: Arduino
Id: vsciot-vscode.vscode-arduino
Description: Arduino for Visual Studio Code
Version: 0.2.27
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino

Interestingly, it only seems to appear in some windows. Here it is in a completely unrelated project on a .jsx (react) file.

![Screen Shot 2019-08-20 at

[2019-08-20 15:59] jscheel commented on #877
@zunhu sorry for the delay, been in a hole ^^

[2019-08-20 22:59] silentwarrior commented on #271
I have been using `.h` and `.cpp` external files but I reached a point where its just too confusing and I am dealing with a problem where I have errors for multiple included files when using a library and although I seem to have done all the steps correctly.

What I would like is not to have to deal with linkers, `.h`, `.cpp` and just use `.ino` files to split my code, I dont need the extra featur

[2019-08-23 01:37] davelnewton commented on #463
This should probably be in the docs somewhere (and maybe it is); took me 10 minutes to find this ticket :/

[2019-08-24 08:58] maziac opened #882 "error navigation"
This is a featured request.
Maybe this feature already exists then it does not work for me.

If an Arduino Sketch is verified and an error is found in the code it is not possible to easily navigate to the position in the Arduino code. I.e. it does not appear in the ‚Problems‘ section.

[2019-08-24 16:51] brae-pete commented on #871
So I did two things to get rid of that error. I ran the Arduino library manager (Ctl + Shift + P >> Arduino: Library Manger). Then I ran the Arduino Board configuration and selected my arduino (Ctl + Shift + P). After I did that it was able to find the default libraries. I am not actually compiling and uploading to my arduino using VS-code, I just use it to look through files. But you should be ab

[2019-08-25 10:16] escaner commented on #850
I agree with bfxdev: modifying the c_cpp_properties without asking every time I open vscode is quite annoying. For example, I have a path defined as "${HOME}/.arduino15/packages/SparkFun/hardware/avr/1.1.12/**" and the extension keeps adding the same path again, but with the $HOME expanded.

The only way I have found to stop this happening is removing the write permissions on the file, but of cour

[2019-08-25 10:39] desprit commented on #690
Same problem. I'm using Arduino UNO. Baud rate is 9600 in vscode and in the sketch. Serial port opens but I don't see any output. As soon as I launch serial monitor in Arduino app output starts to appear in the Vscode as well.

[2019-08-26 03:26] #830 closed

[2019-08-26 07:29] zunhu commented on #882
Hi Maziac, Arduino has highlights for error code. see screenshot. are you talking about this?
use scrollbar can go to the position  of code.

![20190826142839](https://user-images.githubusercontent.com/40815873/63669944-fad67700-c80d-11e9-878d-b05cbc2ca36d.jpg)

[2019-08-26 07:35] zunhu commented on #875
used workaround to mitigate this issue. issue closed.

[2019-08-26 07:35] #875 closed

[2019-08-26 07:39] zunhu commented on #879
1, try to find file C:\Users\username\.vscode\extensions\vsciot-vscode.vscode-arduino-0.2.27\out\src\common\util.js
2. commented out line:215.
3. restart vscode.

[2019-08-26 07:43] zunhu commented on #785
issue fixed, please install latest vscode\ arduino-extension\ arduino and try again.

[2019-08-26 07:43] #785 closed

[2019-08-26 08:24] maziac commented on #882
How does it work?
Here is the screenshot from my project:
There are no squiggles.
![Bildschirmfoto 2019-08-26 um 10 17 35](https://user-images.githubusercontent.com/3081973/63676304-f2b91000-c7ea-11e9-8b43-89cc55c5e42b.jpg)

Originally I was searching for a way similar to e.g. typescript (or C++) error/problem handling.
See following screenshots:
![Bildschirmfoto 2019-08-26 um 10 21 22](https://us

[2019-08-26 22:17] #870 closed

[2019-08-27 02:56] zunhu commented on #882
Even you don't compiling\verfiy code, input squiggles that parser will show red wavy line.
If you need to select one of the problems and the cursor is directly moved to that file and line, you need to do compiling\verfiy code first, this is by design.

[2019-08-27 07:48] NameOfTheDragon commented on #838
I see the PR is merged but for what it's worth, I don't think an extension should ever autonomously take the decision to rename a file. That's essentially a data-loss situation. It's still happening - has this PR been rolled into a release yet?

[2019-08-27 08:26] swortain opened #883 "Snippets doesn't work"
I set "arduino path" and "command path" and open folder in vscode. But there is no snippets in .ino files.... Is there something wrong?
![image](https://user-images.githubusercontent.com/6780386/63754408-64768400-c8e7-11e9-9b9b-783be4da81ca.png)

[2019-08-27 09:43] maziac commented on #882
Two issues here:
a) As you can see from my first screenshot: there are no squiggles from the parser.
b) I would like to see the error in the 'problems tab'.

For b): Is this somehow supported by the extension.
And for a): It does not work.

[2019-08-28 03:25] zunhu commented on #883
since you created new project, it is empty as design.

[2019-08-29 03:00] zunhu commented on #882
I see, I met same issue before (it is temporary issue), it works sometimes.
I marked as a bug, but not blocking issue.
for workaround, as I said you can do verify or compile code first.

[2019-08-29 03:08] zunhu commented on #871
Hi, have you tried put Colours.h to same path with
#include <Adafruit_GFX.h>
#include <MCUFRIEND_kbv.h> ?

[2019-08-29 07:22] #790 closed

[2019-08-29 08:11] swortain commented on #883
emmm....Sorry,I don't get the point.....what shall I do to enable the snippets...

[2019-08-29 08:11] swortain commented on #883
And thanks for the reply!

[2019-08-29 08:36] swortain commented on #883
got it...arduino board should be set at first...

[2019-08-29 08:36] #883 closed

[2019-08-29 12:57] maziac commented on #882
Could you maybe explain to what of the both issues you are answering. a) or b).
For me it seems that a) is not supported by the extension. Is this correct?
And for b): it does not change anything if I do a verify. Could you please give a step-by-step description.

[2019-08-29 15:57] DoganM95 opened #886 "Integrated functions undefined - bug"
### Hi, i am fighting with arduino for vscode for days now because of a bug regarding header files:
### Sample of what i am trying to test on my ESP32:

![image](https://user-images.githubusercontent.com/38842553/63955825-a3dad700-ca85-11e9-92ec-027becac6a3a.png)
---
![image](https://user-images.githubusercontent.com/38842553/63956818-7c850980-ca87-11e9-8399-1e2a6cde8d44.png)

### The integrated f

[2019-08-30 03:17] zunhu commented on #886
Hi, may I know how can repro this issue? is uninstall all library?

![63955825-a3dad700-ca85-11e9-92ec-027becac6a3a](https://user-images.githubusercontent.com/40815873/63990704-9bcb7780-cb17-11e9-8124-5a0fe4ccdf24.png)

[2019-08-30 07:40] zunhu commented on #882
a) squiggles will show and without any execution, I'm not sure it is Arduino Extension issue for VSCode issue. just one time no show during my testing.
b) Yes, it is in problem's tab, I misunderstanding before. no need to do verfiy.

![image](https://user-images.githubusercontent.com/40815873/64002386-7b61e400-cb3c-11e9-8879-2c8a1f86d921.png)

[2019-08-30 23:08] 55thSwiss commented on #808
@gemul nice find, this was driving me crazy

[2019-08-31 16:29] duncanbeevers opened #887 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.38.0-insider`

[code]

[2019-09-01 19:17] supaplextor commented on #876
[code]
also present

[2019-09-04 13:11] Ravi-jetani commented on #644
also worked for me in Ubuntu 18.10

[2019-09-06 05:12] zunhu commented on #887
hi, may I know details of repro steps?

[2019-09-08 09:29] hamzbond opened #888 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.38.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2019-09-09 08:20] #882 closed

[2019-09-09 09:46] #879 closed

[2019-09-11 00:10] rido-min opened #889 "Incorrect Squiggles on official MXChip samples"
VSCode extension for Arduino shows Squiggles for almost every official MXChip sample.

![image](https://user-images.githubusercontent.com/14916339/64658523-a970df00-d3ec-11e9-9b08-f31d9ead83c4.png)

or the next example

![image](https://user-images.githubusercontent.com/14916339/64658823-b3dfa880-d3ed-11e9-9f76-c52dd40ba5b8.png)

Note that in both cases the code compiles. Seeing the squiggles is r

[2019-09-11 00:17] rido-min opened #890 "Build errors are not shown on the Problems tab and do not allow to navigate to source"
When there is any warning, VSCode must help by finding the offending line after clicking the warning message. This is true for C# and JS, and I would like to have a similar experience for C/Arduino projects.

[2019-09-11 03:32] xinyiz1226 commented on #890
Can you provide repro steps? I played around and looks like clicking warning messages do navigate me to the corresponding line.
BTW, this functionality is provided by this extension: https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools. can you check if it is installed already?

[2019-09-11 03:33] xinyiz1226 commented on #889
Thank you for reporting this. We will take a look.

[2019-09-11 06:28] zunhu commented on #888
hi, can you please provide more details then I will try to repro on my side.

[2019-09-11 12:24] BeautifulNow97 commented on #880
Cannot find the sketch file.
编译出现

[2019-09-11 22:39] rido-min commented on #890
I have the extension installed, and I can navigate to the offending line from the `Problems` tab, however when the build fails, or produces warnings, those are shown in the `output` tab but not in the problems tab making it difficult to locate the offending line.

![image](https://user-images.githubusercontent.com/14916339/64740476-53fb0780-d4aa-11e9-9a58-db54f0201c22.png)

[2019-09-15 15:46] ameer1234567890 opened #891 "Debug messages being printed to output - Arduino IDE 1.8.10"
With the release of Arduino IDE 1.8.10, debug messages are being printed to VSCode's output. This is what I get for a normal Verify:
[code]
These debug and trace messages are not output on the Arduino IDE's log window, only in VSCode.

[2019-09-16 03:10] zunhu commented on #891
Hi, thanks for finding.
I can repro same status, since Arduino 1.8.10 release 3 days ago. I will report to extension team.

[2019-09-16 08:23] zunhu commented on #891
Since it is not a blocking issue, it won't be fix soon but in tracking.

[2019-09-16 15:39] tobiges opened #892 "default IntelliSense config"
Would it be possible to add a default c_cpp_properties.json so that all libraries which are included by the Arduino compiler are included in the IntelliSense config?

[2019-09-17 05:12] xinyiz1226 commented on #892
Thank you for reporting this. Do you meet with intellisense issue with Devkit samples? We have another [issue](https://github.com/microsoft/vscode-arduino/issues/889) tracking this. Please let me know if you are working on different projects.

[2019-09-17 05:34] #887 closed

[2019-09-17 05:36] coincashbank opened #893 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Windows_NT x64 6.1.7601`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\fatoş\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension

[2019-09-17 05:36] #893 closed

[2019-09-17 05:37] coincashbank commented on #893
###

-

- [ ] @ #1. url
# 'in

)

[2019-09-17 07:37] zunhu commented on #871
dev is working on intellisense issue.

[2019-09-17 07:38] #891 closed

[2019-09-18 02:31] Gueka commented on #830
Revive this issue.
Excellent editor is worthless if we have to change to another editor to include libraries.

[2019-09-18 03:20] Dotrar commented on #838
it's merged into main: https://github.com/microsoft/vscode-arduino/commit/b5f7361a7b24a616053dd5d542fb70ff51390a9c

and I agree wholeheartedly; unfortunately there's users out there who disagree and fight for the pde over-write; I think having it as a default-off option is by far the best. and at the very least it is only a rename.

[2019-09-19 12:24] dmikhalsky commented on #892
I think it's different issue. Desired behaviour is the following:
- autoadd arduino library path to the "include.path" section of c_cpp_properties.json file

This should not be a problem as currently some info is already being auto-added, eg a path to toolchain

[2019-09-19 20:40] mnebesny opened #894 "Missing Commands"
When I try to install, not all of the commands are there. It is notably missing Arduino: Initialize and a few others. How do I fix this?

![Screenshot from 2019-09-19 16-40-05](https://user-images.githubusercontent.com/46246628/65279433-30643c80-dafc-11e9-96eb-d88e06ae3a8d.png)

[2019-09-20 04:14] zunhu commented on #894
hi, looks your screenshot is for settings, for commands you can try to "command palette" (ctrl+shift+P) to open command window. it will list all commands of Arduino.
![image](https://user-images.githubusercontent.com/40815873/65298909-dae16b80-db9f-11e9-92d5-be1a0b38d84c.png)

[2019-09-20 06:31] jusahoo opened #895 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.37.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/Users/juan/vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-h

[2019-09-20 19:57] nikschwe opened #896 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Darwin x64 18.7.0`
- VSCode version: `1.32.3`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/nikschwe/vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cau

[2019-09-21 02:07] mnebesny commented on #894
Thanks for the help, but the same commands are still missing. When I try to manually enter commands like Arduino: Initialize or Arduino: Examples it just opens the settings.

![Screenshot from 2019-09-20 22-06-25](https://user-images.githubusercontent.com/46246628/65366516-f9248700-dbf2-11e9-8832-7b45d245d83e.png)

[2019-09-21 14:48] PeterWone commented on #611
I don't _have_ a commandPath specified but I'm getting code=undefined, what else can it mean?

[2019-09-21 16:56] emitchel commented on #896
correct url https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2019-09-22 04:59] kkibwage opened #897 "Extension causes high cpu load"
[vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-arduino/files/3639379/vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.38.1`

:warning: Make sure to **attach** this file from your *home*-d

[2019-09-22 10:12] PeterWone commented on #774
It's not fixed in 0.2.27 for me, in fact it only APPEARED in this version ON WINDOWS.

[2019-09-22 11:35] PeterWone commented on #869
I am experiencing _exactly_ as @KThen describes it, right down to the null reference in SerialMonitor.initialize

I have ripped out VSCode and including all the files it leaves behind, and reinstalled it and the Arduino extension. I installed the Arduino IDE in version 1.8.8 because that version is blessed in the documentation, and was able to compile and deploy using that.

I have the same set up

[2019-09-22 18:52] tobiges commented on #892
@xinyiz1226 It would be great if all sources here would be automatically included: [Arduino build process](https://github.com/arduino/Arduino/wiki/Build-Process#compilation)
It's very annoying to insert all the paths to the required libraries into the c_cpp_properties.json

[2019-09-23 02:29] #897 closed

[2019-09-23 04:50] PeterWone commented on #869
It works perfectly in a freshly built VM with Win10 1903 and latest everything. A key observation is that on my problem machine there is no output from log4j whereas on the fresh VM, output looks like this
[code]
This implies that there are settings in force on my problem machine suppressing logs among other things, which survived reinstallation of the Arduino IDE. In fact on that workstation I ne

[2019-09-23 08:07] #888 closed

[2019-09-23 08:13] zunhu commented on #894
hi, can you please type "Arduino" in command box then it will be filter all commands of Arduino.

Otherwise, I can't repro this issue on my side, maybe you can try to uninstall\ install Arduino Extension and Arduino IDE and try again.

[2019-09-23 09:06] dmikhalsky opened #898 "Custom programmers are not listed (nrf5 based boards)"
[Arduino Core for Nordic Semiconductor nRF5 based boards](https://github.com/sandeepmistry/arduino-nRF5) adds a number of additional programmers that are listed in Arduino IDE below the standard ones

<a href="https://ibb.co/KyKyWb6"><img src="https://i.ibb.co/ZT2TxGd/arduino.jpg" alt="arduino" border="0"></a><br /><a target='_blank' href='https://ru.imgbb.com/'>image hosting</a><br />

However, V

[2019-09-23 12:16] PeterWone commented on #869
I spun up the extension in debug mode and `util.ts:211` is barfing when it tries to resolve the codepage for Win32

```            codepage = childProcess.execSync("chcp").toString().split(":").pop().trim();```

I broke up the parts of this expression and determined that the problem occurs in `execSync("chcp")` and then found that the error message is useless because reason doesn't have a code pro

[2019-09-23 19:03] Jeff-Birt commented on #871
This bug makes the whole extension next to useless. Please advise as to a work around...

[2019-09-24 07:57] henxifeng commented on #890
Please change your "intelliSenseEngine" setting to "Default" instead of "Tag Parser" in the file .vscode/settings.json. You can refer to C/C++ extension issue: https://github.com/microsoft/vscode-cpptools/issues/2164. The errors in **Output** tab when build fails will show in **Problems** tab like below.
![image](https://user-images.githubusercontent.com/49181894/65491954-a690e680-dee2-11e9-81e5-3

[2019-09-24 10:33] #878 closed

[2019-09-24 15:53] rido-min commented on #890
Hi @hellyzh I checked my settings and I'm using `Intelli Sense Engine:Default`, and I cannot see the errors or warnings in the Problems tab after a build failure

[2019-09-24 20:59] DoganM95 commented on #774
the above error **"Failed to open serial port COM3 due to error: + TypeError: Cannot read property 'close' of null"** still persists for me.

VSCode Version: 1.39.0 (insiders)
Arduino Extension Version: 0.2.27

[2019-09-25 03:20] PeterWone opened #900 "Travis PR build check does not use stable Ubuntu"
Travis is rejecting my PR but only for Ubuntu (it passes for both Win32 and Darwin) so I built an Ubuntu VM and tooled it up until I could run the tests in VS Code.

The problem is not with VS Code or vscode-arduino, it's with the Arduino IDE which has problems on the latest Ubuntu.

I repeated the exercise with Ubuntu Stable (18.04.2) and had no problems with Arduino IDE so I finished tooling up

[2019-09-25 06:34] xinyiz1226 commented on #890
Can you paste content in your c_cpp_properties file? also, can you check which cpp extension version installed in your VS Code?

[2019-09-25 11:42] jovabel commented on #830
I agree fully. Also The effort to implement should be is small, because arduino-builder supports this by using the -libraries parameter. So the issue is purely: make it configurable in arduino.json or settings.json and then use the configured values with the -libraries parameter when calling the build executable (arduino-builder). The trick of using values from arduino.json or settings.json as par

[2019-09-26 08:01] ssduracell opened #901 "Is ip port supported for yun?"
i can only select serial ports is there a way i can connect with an ip?
needed for dragino etc.

thanks!

[2019-09-26 08:10] #895 closed

[2019-09-26 08:13] zunhu commented on #900
hi, yes please use ubuntu 18.04.2. not support for latest version of ubuntu yet.

[2019-09-26 08:38] dooriya commented on #869
@PeterWone Thank you very much for your active participation and contribution.

Before getting approval for your [Pull Request](https://github.com/microsoft/vscode-arduino/pull/899), could you please fix the build failure with the Travis CI?

![image](https://user-images.githubusercontent.com/10163840/65672412-96f8d580-e07b-11e9-9a8c-001a33ed4f2a.png)

Please try  fixing the `.travis.yml` file as

[2019-09-26 08:47] PeterWone commented on #869
Please look at #900 because the problem is your Linux build environment, not my code. Maybe you haven’t noticed but the main branch is failing in the same way for the same reason.

When I hand built a test environment using the latest Ubuntu I got the failure you want me to correct.
When I hand built a test environment using the latest STABLE Ubuntu all tests passed.

The problem is that the Ardui

[2019-09-26 08:47] zunhu commented on #901
hi, select serial port is to connect with boards.
May I know more details of your problem?

[2019-09-26 09:08] ssduracell commented on #901
i want to connect to my dragino (arduino yun + arduino uno) gateway over my network but my arduino ide doesnt find lg01

[2019-09-26 09:22] dooriya commented on #869
We've just fixed the Travis CI in master branch.
@PeterWone  Could you please merge the latest changes from master into your PR?

[2019-09-26 10:09] PeterWone commented on #869
Wow, that was quick! I'm on it.

[2019-09-26 10:48] PeterWone commented on #869
@dooriya This is the first time I've had to sync changes like this, I hope I've done this right.

[2019-09-26 11:04] dooriya commented on #869
@PerterWone You make it :) I approved your PR, please feel free to merge it into master. We’ll add it into our next release.

Thanks again for the contributions.

[2019-09-26 11:22] PeterWone commented on #869
@dooriya -- you say "feel free to merge it into master". Are you telling me that I have the necessary permissions to merge into microsoft/vscode-arduino ?

What step should I now take? I do not know how to proceed.

[2019-09-26 11:30] dooriya commented on #869
@PeterWone  Sorry for that, it should be us to merge the PR.

[2019-09-26 12:10] PeterWone commented on #869
Not at all -- my ignorance of the workings of GitHub is hardly your fault. Thank you for helping me to get this done.

[2019-09-26 13:05] dooriya commented on #869
Will update you once the new release is delivered.

[2019-09-26 13:16] dooriya commented on #900
@PeterWone  As we discussed in #869, I think this issue has already been fixed.  So close it here.
Please feel free to re-open it if this issue arises again.

[2019-09-26 13:16] #900 closed

[2019-09-26 13:24] dmikhalsky commented on #898
It's not a "feature request". It's a blocking issue since its impossible to program nrf5-based boards from within VS Code

[2019-09-26 19:15] johnseghersmsft opened #902 "Log4J debug spew during Arduino build"
I'm getting what appears to be TRACE-level debug spew from Log4j when I build in VS Code using Arduino 1.8.10. The start of the build shows:
[code]
It then pics up again after the build results for another 30 lines.
Building in Arduino 1.8.10 IDE doesn't show any of this spew.
Uninstalling Arduino 1.8.10 and installing Arduino 1.8.9 gets rid of this debug spew.

[2019-09-27 02:31] rido-min commented on #890
I'm using ms-vscode.cpptools 0.25.1

and here is the content of `c_cpp_properties.json`

[code]

[2019-09-27 03:59] zunhu commented on #902
It is same issue with #891 due to Arduino IDE upgraded to 1.8.10.

Arduino-extension dev team know this issue and tracking, since it is not blocking issue they will not fix it soon.

[2019-09-27 08:50] hellyzh commented on #890
I can repro the issue if I don't open the file main.ino, but after I double click the ino file, Problems tab will show the error. And please double confirm the settings.json have following configurations. You can also set intelliSenseEngineFallback as disabled explicitly like below.
{
    "C_Cpp.intelliSenseEngine": "Default",
    "C_Cpp.intelliSenseEngineFallback": "Disabled"
}

[2019-09-27 09:03] hellyzh opened #903 "In settings.json, use "Default" instead of "Tag Parser" for IntelliSense Engine"
In MXChip IoT DevKit samples, the setting of C_Cpp.intelliSenseEngine is "Tag Parser", change it to "Default" as the IntelliSense Engine

[2019-09-27 11:32] Jonirutclub opened #904 ".github/workflows/main.yml"
.github/workflows/main.yml #903 @Atalanttore
![2019-08-22](https://user-ima[Jonirutclub.github](.github/workflows/main.yml) `ges.githubusercontent.com/55123685/65766379-01317900-e155-11e9-824f-8b42b92b3ba5.jpg)`

- _**

1.

- [ ]

**_

[2019-09-27 12:54] haizaar commented on #870
I just landed here searching for solution about allegedly missing "WProgram.h". Any chance this can be fixed?

[2019-09-27 13:35] haizaar commented on #438
It will be great to have "ARDUINO=100" in defines by default to safe the frustration about missing `WProgram.h` includes.

[2019-09-27 17:53] johnseghersmsft commented on #902
Ah, thank you for pointing to the existing issue. Since it was closed it didn't show up in my searches.

[2019-09-27 17:53] #902 closed

[2019-09-28 13:26] drummsb commented on #808
This is an amazing find and I now know how to use the define field in the c_cpp_properties.json file. Worked like a champ!  I am greatful!

[2019-09-29 01:28] zunhu commented on #903
dev is working on that.

[2019-09-29 01:29] zunhu commented on #904
#903 dev is working on that.

[2019-09-30 00:34] proxycase opened #905 "Plugin linting renames Processing (.pde) sketches into .ino files"
On save, if plugin is enabled, this plugin will change the .pde file extension into an .ino. Didn't notice it until my entire repo had been changed into .ino files for some reason. I also have an Arduino project within the same repo, but separated by folders for Arduino sketches and Processing sketches.

[2019-09-30 06:09] nightcap79 opened #906 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.27`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.38.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2019-09-30 06:11] zunhu commented on #905
hi, it is by design to support .pde in 0.2.26 release.

https://github.com/microsoft/vscode-arduino/blob/v0.2.26/CHANGELOG.md

[2019-09-30 12:45] beeb commented on #886
Can confirm this also happens on my end.

[2019-09-30 13:51] proxycase commented on #905
I saw that -- that's great, but its internal linting automatically switches the filename on you to .ino instead of .pde so that all of a sudden it doesn't open in the official Processing app unless you change them all back. I'll see if I get a free moment to fix then file a push req.

[2019-09-30 14:20] iqapps commented on #856
Agree on this

[2019-10-01 22:27] sschicken commented on #478
So I've figured out why this is happening to me. If you use a NFS share on a linux machine, and you are building on a windows machine, the timestamps won't line up properly so the entire cache will be rebuilt every time you verify. To fix this, set your build directory to something local. It's annoying, usually other software that runs into this ends up using Fat File Times to decrease precision a

[2019-10-01 22:28] sschicken commented on #449
So I've figured out why this is happening to me. If you use a NFS share on a linux machine, and you are building on a windows machine, the timestamps won't line up properly so the entire cache will be rebuilt every time you verify. To fix this, set your build directory to something local. It's annoying, usually other software that runs into this ends up using Fat File Times to decrease precision a

[2019-10-02 00:41] marcelo-lara commented on #891
Is there a way to get rid of these messages?
(where to configure this?)

[2019-10-02 10:42] sakshamsneh commented on #808
This is very helpful. I started Arduino coding in VSCode, and encountered this issue almost immediately. Thank you very much.

[2019-10-03 16:17] wujupi commented on #438
Disable extensions “C/C++ Clang Command Adapter“

[2019-10-04 11:39] sstaub commented on #898
The same problem exist on other Arduino boards, missing are EDBG programmers and others.
In the moment the extension is complete useless.
<img width="351" alt="programmers" src="https://user-images.githubusercontent.com/6450325/66204885-405b4f00-e6ac-11e9-95a1-4861c58e6c34.png">

[2019-10-05 08:16] danielsiwiec commented on #807
Same - this would be a nice feature to have. Perhaps an action like `Upload current file`

[2019-10-07 09:06] swortain commented on #905
yes, I met the same problem....
I tried to set the "arduino.allowPDEFiletype": false But it seemed that it doesn't recognize by settings.json and doesn't work....

[2019-10-07 13:01] Jeff-Birt commented on #871
My VS Code installation started closing randomly so I removed it and downloaded the system installer version for windows (not local user installer) . Now the Arduino extension works properly, i.e. it finds the header files and will compile. Perhaps this is an issue with the local installer version??

[2019-10-09 02:27] #894 closed

[2019-10-09 04:44] DDreamD opened #907 "cfvbsdfgv"
Issue Type: <b>Bug</b>

sergahgrg

Extension version: 0.2.27
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35:15.005Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6600K CPU @ 3.50GHz (4 x 3504)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<

[2019-10-09 04:50] #906 closed

[2019-10-09 20:47] sarpik commented on #355
Hello, any updates on this?
Specifically, teensy support?

[2019-10-10 05:28] #907 closed

[2019-10-10 15:36] sslupsky commented on #892
Hi,

I was looking recently at the vector-of-bool CMake Tools plugin (which appears to be a microsoft plugin now, see https://github.com/microsoft/vscode-cmake-tools).  This tool has an interesting feature that integrates with the c/c++ intellisense engine to do what the OP suggested here.  That is, CMake Tools will auto configure c_cpp_properties.json with the includes and defines from a cmake pr

[2019-10-10 18:20] arvobowen opened #908 "Error trying to program ATtiny85 with VSCode"
I'm trying my best to use VSCode to replace some of my IDEs but having some issues when using it for Arduino programming.

I have my project/sketch (*.ino) that I have verified and uploaded to my **ATtiny85** chip via the Arduino Uno board I have. So I know the way I have everything hooked up and how I'm trying to do it (board config, programmer, etc) works fine.

However, when I try to use VSCode

[2019-10-10 18:54] arvobowen commented on #908
Version: 1.39.0 (user setup)
Commit: 9df03c6d6ce97c6645c5846f6dfa2a6a7d276515
Date: 2019-10-09T06:58:04.439Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

Name: Arduino
Id: vsciot-vscode.vscode-arduino
Description: Arduino for Visual Studio Code
Version: 0.2.27
Publisher: Microsoft

[2019-10-11 01:09] SaintWacko opened #909 "Cannot have multiple VSCode windows connecting to separate serial ports"
If you have multiple VS Code windows open in a single project you cannot select different COM ports on each window. Changing the COM port on one window will cause the other one to change as well. I'm sure it's related to how the extension is storing that data between sessions, but hopefully there's another way to do it. It makes working on multi-board projects difficult.

[2019-10-11 03:31] a7hybnj2 commented on #898
I use minicore and tinycore which have some chips that need their own programmer selection like "USBasp (ATTinyCore)" and those don't show up. This extension should pull the same list of programmers that the arduino IDE pulls.

[2019-10-11 03:35] a7hybnj2 commented on #856
there is also the "arduino builder" which appears to have been a similar concept to the "arduino cli" I don't know which is better or what the specific differences are just thought I would mention it just in case...

[2019-10-11 03:38] SaintWacko commented on #909
On further review, it's not at all designed to have a single project/folder with multiple sketches in it. I'm not sure if this is a bug that should be fixed or if I'm just using it wrong.

[2019-10-11 03:56] a7hybnj2 commented on #271
I have tried several ways to get this to work but if I declare all my globals and #defines in the main.ino file and I #include the otherfiles.h that use the declares then they don't link correctly and I get a ton of errors.

From the arduino IDE all the files were .ino and they were I think compiled into one .c file so all the declares and globals worked in all the sub .ino files.

[2019-10-11 07:07] dean-rowntree commented on #871
I tried this and still had the same issue.
What I found to work was to have the following set (search for "tag parser" in settings):
![image](https://user-images.githubusercontent.com/56034117/66631475-1c44c400-ebfe-11e9-94b6-af5a9ad87cfa.png)

[2019-10-11 12:23] Jeff-Birt commented on #871
Yes, the intellisense does not work. I gave up and moved to Visual Micro. It works...

[2019-10-12 06:58] #904 closed

[2019-10-12 07:03] zunhu commented on #909
hi @SaintWacko , it's just support one serial ports even another VSCode opened. it is by design.

[2019-10-13 03:25] adamm commented on #271
@a7hybnj2 I had the same issue.  Pulling my hair out, I found that VSCode (1.31.9) was persistently passing the wrong file to /Applications/Arduino.app/Contents/Java/arduino-builder.

Check your "OUTPUT" tab, lines 7 and 8 for the arduino-builder string.  Scroll to the end of the line.

Normally, this should be the .ino as the last argument of arduino-builder (yes, my .vscode/arduino.json sketch a

[2019-10-14 00:36] a7hybnj2 commented on #271
@adamm I really wanted this to be the issue but it seems that they have fixed that since it appears that the compiled ino is always the one listed in the arduino.json file despite its order among the other .ino files.

[2019-10-15 04:43] jayvdb opened #911 "Travis Node.js: 11 job failing"
On https://github.com/microsoft/vscode-arduino/pull/910 I see failures on the Node 11 job only, that look unrelated to the PR changes.

https://travis-ci.org/microsoft/vscode-arduino/jobs/597960540

[2019-10-16 05:24] githubDLG commented on #271
@a7hybnj2 seems i had the same issue as you.  the main.ino(which include setup() and loop, as the main ino file of the whole arduino project)  #include config.h, then the declares and globals  that defined in config.h could be correct recognised by main.ino, but for the other ino , these  declares and globals are act as non-existent.....   do you suffered the same issue?

[2019-10-16 16:44] #880 closed

[2019-10-17 09:15] #909 closed

[2019-10-17 14:37] VirensCn opened #912 "arduino 1.8.10 中文乱码"
配合arduino 1.8.10 时，输出控制台中文乱码
![O3CJS`(61 @KK{HI4K}3}WC](https://user-images.githubusercontent.com/9736815/67019090-b3de7100-f12e-11e9-864d-888e680a48e5.png)

[2019-10-18 07:16] hellyzh commented on #890
Hi @rido-min , have you fixed you issue? If yes, I will close it.

[2019-10-18 07:29] hellyzh commented on #903
The "Default" IntelliSense engine will be the eventual replacement for the "Tag Parser":
[What is the difference between includePath and browse.path?#](https://code.visualstudio.com/docs/cpp/faq-cpp)

https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference
browse The set of properties used when "C_Cpp.intelliSenseEngine" is set to "Tag Parser" (also referred to as "fuzzy" IntelliS

[2019-10-18 15:29] rido-min commented on #890
@hellyzh I have the same settings, but if the file is not opened the problems tab does not show any issues. From the output Window I can see the file and line where the error is produced, but I cannot navigate to the exact location.

[2019-10-20 19:54] schupat commented on #818
Same issue under Ubuntu 18.04

I searched for the file using `find -name 'pgmspace.h'` from within my Arduino installation folder and found the file there. Was required to add `"/home/[your_username]/.bin/arduino-1.8.10/hardware/tools/avr/avr/**"` to my `c_cpp_properties.json` file under `includePath`. **Adding the full path doesn't work.**

Change the `/home/[your_username]/.bin/arduino-1.8.10/`

[2019-10-21 08:31] hellyzh commented on #890
@rido-min, yes, the file need to be opened. This is how the extension detect the "Problem". Please refer to the issue "[ErrorSquiggles only appears in open files #3207](https://github.com/microsoft/vscode-cpptools/issues/3207)".

[2019-10-22 06:47] zunhu commented on #912
can you please try : https://github.com/microsoft/vscode-arduino/issues/875

[2019-10-23 04:20] #838 closed

[2019-10-23 18:53] mMerlin commented on #908
I do not use ATtiny85.  However, since you have "output": "../builds/PowerSupply" configured, what gets created in that folder?  Is there a log there that says what was happening just before the upload error?  From current information, I assume the compile worked fine.

[2019-10-23 18:58] arvobowen commented on #908
As a matter of fact, it is working now.  Absolutely NOTHING was changed.  I just closed the IDE, restarted my machine (for other reasons) and when I went back to it trying to get it to work...  It just did!

Not sure what I did to resolve the issue but I can now flash the ATtiny with no issues at all.

[2019-10-23 18:58] #908 closed

[2019-10-23 19:03] mMerlin commented on #866
Try adding
[code]
to `"configurations"` in the c_cpp_properties.json file in the .vscode folder.  Or adding `"USBCON"` to the list, if `"defines"` already exists.

[2019-10-24 18:40] sslupsky commented on #850
It looks like this "feature" was added a while ago by this PR https://github.com/microsoft/vscode-arduino/pull/795

The way the feature currently works is broken.  The auto update adds two recursive paths, one to the core root and another to the tools root.  Unfortunately, those two recursive paths have a tremendous number of conflicts which leads to countless time running down squiggles that are

[2019-10-24 19:26] sslupsky commented on #850
I attempted to use the suggestion from @escaner and changed the permissions so the file cannot be written.  Unfortunately, there is still some problem with this plugin.  I have attached a screen shot of the directory paths is appears to be using:
![Screen Shot 2019-10-24 at 1 14 21 PM](https://user-images.githubusercontent.com/16888734/67517650-45cf0800-f660-11e9-9ca1-13ea3a0db1db.png)

Here is th

[2019-10-24 19:27] sslupsky commented on #850
@ArthurMa1978 This is quite clearly a major bug that should be fixed asap.

[2019-10-25 15:38] sslupsky opened #913 "Arduino plugin does not return proper sizeof()"
I have encountered a problem with the plugin that incorrectly reports the size of types when using the Arduino SAMD21 core.

Here is an example:

[code]

When you hover over the "sizeof", vscode displays "(uint32_t)8UL.  This is not correct.  The proper size of this type is 4 on the Arduino SAMD21 architecture.

When you compile the code, sizeof returns the proper size of the type (in this case, 4

[2019-10-25 21:34] mouridis commented on #891
This is not a priority issue? I cannot imagine a new user that tries the extension sticking with it. You need 1 minute of scrolling to find the 2 lines of output that matter between 430 (!!!) lines of garbage output. It's unusable.

I think there should at least be a note on the "Prerequisites" section of the extension page in GitHub and Extensions Marketplace to warn people about Arduino 1.8.10 (

[2019-10-26 16:14] robinator8 commented on #838
Is there anyway to disable this? I have .pde files that are actually processing files and every time I open then they're automatically changed .ino files.

[2019-10-26 17:57] #896 closed

[2019-10-26 20:56] Dotrar commented on #838
Wait until the next release I believe, or you can download and run from source..

Although I made this change 3 months ago, so I don't know how long it will take for release....

[2019-10-27 15:03] fclante commented on #871
Hi none of the suggestions worked.
      * When including custom libraries --> The plugin seemed to be able to F12 navigate to source files,
      * When verifying the code it could not find the file.

For some reason it only works when I put the custom .h and .cpp files
in C:\Users\[USERNAME]\Documents\Arduino\libraries folder.

[2019-10-28 00:18] xrstf commented on #891
It seems the excessive debug logging is caused by running Java with `-DDEBUG=true`. Adding `-DDEBUG=false` to the `C:\Program Files (x86)\Arduino\arduino_debug.l4j.ini` fixes it for me.

[2019-10-28 07:49] #890 closed

[2019-10-29 03:17] dilin-MS commented on #835
Hi, @raghur could you please provide some snapshot of the issue you mentioned?

[2019-10-29 06:00] dilin-MS commented on #889
Hi @rido-min this bug is resolved in the latest Azure IoT Devce Workbench v0.10.16. Please take a look. Thanks for your participation! :)

[2019-10-29 06:54] rido-min commented on #889
Thank you very much !! I hope this small improvement will help developers who learn Azure IoT with MXChip based boards.

[2019-10-29 06:54] #912 closed

[2019-10-29 06:58] rido-min commented on #889
I still see squiggles like this:

![image](https://user-images.githubusercontent.com/14916339/67744432-bbc7cc00-f9de-11e9-902f-644b44c64736.png)

[2019-10-29 08:14] dilin-MS commented on #889
Hi, are you using Visual Studio 2019 on your host computer? I just tested and found the issue when my computer have VS 2019 installed and the issue not occurs when I have VS 2017 on my computer.
Could you please try add `"compilerPath": "C:/Program Files (x86)/Arduino/hardware/tools/avr/bin/avr-gcc.exe"` in c_cpp_properties.json file and see if the squiggles disappear? Let's see what's the root ca

[2019-10-30 21:58] iitaka1142 commented on #628
I got same problem. input "-exec monitor shutdown" then you can shutdown openocd from gdb. unfortunately gdb down, too. you have to restart debug mode manually.

[2019-10-31 01:33] jkwphysics commented on #842
Defining an output path in the json just changes the error to "Please see the build logs in Output path:" which is actually still just an empty folder...This still isn't fixed.

[2019-10-31 06:36] hellyzh commented on #911
The Travis CI build passed now.

[2019-10-31 07:09] hellyzh commented on #870
Tested from my side, the parser is tracking the defines, and not give include error. Please check installed the latest [C/C++ IntelliSense tool](https://marketplace.visualstudio.com/items?itemName=ms-vscode.cpptools)
![image](https://user-images.githubusercontent.com/49181894/67926171-46334a00-fbf0-11e9-954b-7e85a090c5c8.png)

[2019-10-31 07:47] hellyzh commented on #871
The C/C++ extension with c_cpp_properties.json is only used for syntax highlighting, smart suggestions, but not involved in compile, verify or build. It is expected as **fclante** mentioned above. The correct c_cpp_properties.json can make you F12 navigate to source files, but to verify/compile, you still need to ensure your custom .h and .cpp files in the project path or the system path that comp

[2019-10-31 07:51] jayvdb commented on #911
Awesome thanks.  Should I rebase my PR, or will it be reviewed as-is?

[2019-10-31 07:51] #911 closed

[2019-10-31 08:08] hellyzh commented on #892
We actually already have arduino library path autoadded to the "include.path" section of c_cpp_properties.json file. And looks like that is not enough, we should also include "compilerPath" to it.
In the tutorial [Using C++ and WSL in VS Code](https://code.visualstudio.com/docs/cpp/config-wsl), it states "The Compiler path setting is the most important setting".  You can refer the [issue](https://

[2019-10-31 17:21] sslupsky commented on #892
Hi @hellyzh I have already set my compiler path.  The other items that need to be set are the DEFINES.  These are just as important because there is a lot of condition compilation that goes on based on the defines.

I think what the community is looking for is something that extracts the library paths from the arduino compile statements.  You would need to parse the build output to do so.

There i

[2019-10-31 22:46] rido-min commented on #889
Yes, I have VS2019 installed. Once I changed the `compilerPath` the squiggles disappeared.

[2019-11-01 06:45] #889 closed

[2019-11-01 08:51] hellyzh commented on #911
No need, we will review.

[2019-11-01 09:11] hellyzh commented on #842
Win10 Arduino app from App Store is not supported, please use windows installer version. I use the latest Arduino IDE 1.8.10 and could not repro the issue. Please try and see if the issue still exist.

[2019-11-01 15:21] rido-min commented on #889
@dilin-MS may I assume the latest version will configure the right `compilerPath`? otherwise we should reopen this issue.

[2019-11-01 22:49] ZiTAL opened #915 "upload current opened sketch"
Choosing a sketch to upload is annoying, it's neccesary to write the entire path, why not upload the current opened sketch? Or autocomplete the input of **Sketch file**

Thank you

[2019-11-03 14:15] dilin-MS commented on #889
Hi, @rido-min . Yes, we will fix this issue in next workbench release. I open an [issue](https://github.com/microsoft/vscode-iot-workbench/issues/800) to track this.

[2019-11-04 09:16] hellyzh commented on #903
Removed "Tag Parser"

[2019-11-04 09:16] #903 closed

[2019-11-04 16:16] Jackbennett commented on #481
FYI Other users I had to close and open VScode after installing the plugin to see this specific tooltip in the status bar.

Any chance that dropdown can autosuggest the currently open tabs and fuzzy search .ino,.cpp and .c in suggestions?

[2019-11-04 16:35] Jackbennett commented on #915
What if used the the current file instead of writing an error and returning?

https://github.com/microsoft/vscode-arduino/blob/master/src/arduino/arduino.ts#L104

Related to #271, #382 #807, #549 and probably more.

if so, it looks like I could set arduino.json `"sketch": null` to use all my current .ino file directly at a project level.

This would make beginners using VSCode way more pleasant.

[2019-11-06 21:47] Sallaa commented on #808
Had a similar issue and this solved my problem too. Thank you @gemul.

[2019-11-07 23:37] PeterWone opened #918 "Unable to start serial monitor"
Same symptoms as #851 but with 0.2.27 on VS Code 1.40.0

Same workaround -- manually edit `arduino.json` but this leaves you without Serial monitor. Better to revert VS Code to 1.39.2 and disable auto-update pending an update to this extension.

Looking at the related VSCode issue pertaining to the 1.36 breakage,

It's the same problem with the same fix.

[2019-11-08 01:19] jeff-winn commented on #918
I just ran into the exact same behavior. Upgraded to VS Code 1.40.0 and my ability to connect to the serial monitor has been broken.

If you need to use the Serial monitor, you can always use the Arduino IDE instead as a workaround for that as well.

[2019-11-08 01:44] basaravia commented on #918
Can't use <Select Serial Port> for ESP32 and ESP32 Lora TTGO v1. So I modified `arduino.json` it worked to upload but when try to open **Serial Monitor** appears:

seems #851 related. Aditionaly installed `vscode-arduino-0.2.26.vsix` version doesn't work

[2019-11-08 06:03] secmask commented on #918
same error here when upgrade to 1.4.0

[2019-11-08 07:34] dooriya commented on #918
@PeterWone  Thank you for reporting this issue.

We're currently investigating the root cause of this issue, probably because of the Electron and Node version upgrade in latest VS Code 1.40.

[2019-11-08 09:32] Puneetkumarpal opened #919 "unable to use serial port"
Issue Type: <b>Bug</b>

after new update visual code is unable to open serial port.

it's show the message:

Extension version: 0.2.27
VS Code version: Code 1.40.0 (86405ea23e3937316009fc27c9361deee66ffbf5, 2019-11-06T17:01:56.781Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Celeron(R) CPU 1037U @ 1.80GHz (2 x 1795)|
|GPU S

[2019-11-08 16:38] zeier opened #920 "Unable to select serial port"
Issue Type: <b>Bug</b>

I have set up the development environment as described here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-arduino-iot-devkit-az3166-get-started#prepare-the-development-environment

With Tera Term, I'm able to communicate with the IoT DevKit over the corresponding serial port (COM5).

However, in VS Code, I cannot select a serial port (nothing happens when I click

[2019-11-08 17:15] mathertel commented on #918
reverting to latest-1 solves the problem (for now)
Download links available at: https://code.visualstudio.com/updates/v1_39

[2019-11-08 17:16] mathertel commented on #919
duplicate to https://github.com/microsoft/vscode-arduino/issues/918

[2019-11-08 17:16] mathertel commented on #920
duplicate to https://github.com/microsoft/vscode-arduino/issues/918

[2019-11-08 23:22] denkyuu commented on #355
Just adding another +1 for teensy support. The latest mac update broke teensyduino for the Arduino IDE and I'm looking for an alternative. I use VS code for everything else, so having my teensy development wrapped up into the same environment would be incredible.

[2019-11-09 03:10] atestani commented on #355
Are you using PlatformIO which is an extension for VSCode?  It has support for Teensy boards as well as custom boards with the Kinetis MCUs as in Teensy.  PlatformIO has support for over 700 boards and has a full function debugger plus _many_ other features.

My post in this topic of Jan 29, 2018 was aimed at PlatformIO so I don't know why it ended up here.

PlatformIO is the best thing to come to

[2019-11-09 13:15] sarpik commented on #355
Yo @atestani I just found out about platformio (both in vscode and it's cli) and it's super awesome, thank you!

[2019-11-09 19:54] nata1993 opened #921 "Code on Visual Studio"
Would be epic if this extension could be done also for Visual Studio 2019 or 2017.

[2019-11-09 21:05] ryancor opened #922 "Select A Serial Port doesn't work"
Issue Type: <b>Bug</b>

Im on Mac, and everytime i try to select a serial port at the bottom, nothing shows up.

Extension version: 0.2.27
VS Code version: Code 1.40.0 (86405ea23e3937316009fc27c9361deee66ffbf5, 2019-11-06T17:09:34.601Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz (8 x 2500)|
|GPU St

[2019-11-10 11:14] AdrienTD commented on #774
I seem to now get this issue too after updating to the latest version of VSCode (v1.40.0). I can still compile and upload programs to my ESP32, but can't open the serial monitor anymore. Before the update I never had this problem. Opening the serial monitor still works in the Arduino IDE fortunately.

[2019-11-10 19:03] janperner-ubnt commented on #774
Exactly the same issue here. It has stopped working after an upgrade to v1.40.0.

[2019-11-10 19:54] bukodi commented on #774
#MeToo :)

After upgrade VSCode to v1.40.0, serial monitor causes "TypeError: Cannot read property 'close' of null"  (Ubuntu 18.04.3 LTS)

[2019-11-11 06:28] huba71 commented on #596
Unfortunately 1.40 breaks the com port again. 1.39.2 seems to work. (on Mac OSX at least)

[2019-11-11 08:12] AldebaranPrimo commented on #922
The same thing happens in windows

Extension version: 0.2.27
VS Code version: Code 1.40.0
OS version: Windows 10 pro 1903 (build 19018.1)

[2019-11-11 11:50] bluesnotes commented on #774
Me too
VSCODE 1.40.0
Arduino extension version 0.2.27
Arduino 1.8.10

since upgrade VSCode to 1.40.0

[2019-11-11 15:08] UKSFM99 commented on #774
Me too since upgrading to vscode 1.4.0

[2019-11-11 21:00] acrandal commented on #922
I have the same thing on a Linux Mint (Debian/Ubuntu) system. The ArduinoIDE packages work, but VS Code doesn't let me select a serial port. This seems to be the same thing as issues #596, #664 , #816, and/or #851. The release of 0.2.27 fixed this problem for some people, but not everyone, it seems.

If I edit the .vscode/arduino.json file directly and add the line for the serial port path in my c

[2019-11-11 23:21] luke-shields commented on #774
Same issue here, also not able to select serial port as option

[2019-11-11 23:59] SAMXPS commented on #891
Thanks! It fixed the extensive DEBUG output console! 😉

[2019-11-12 00:44] smarpug commented on #922
I am having this problem as well on Windows Version 10.0.18362 Build 18362.
vscode-arduino version: 0.2.27
vscode version: 1.40.0

I can interact with the serial device via PuTTY, and I can also set the COM port in the arduino.json, but the button at the bottom right and the Command Palette command both do nothing as far as the UI is concerned.

[2019-11-12 00:51] Shirsendu-Bairagi commented on #690
I have a similar problem i am using VS Code 1.40.0 but the serial monitor is not opening as well as the select serial port button is also not working... i just manually added the port. Every time it popups and says Failed to open serial port COM4 due to error: + TypeError: Cannot read property 'close' of null and on the output of serial monitor it says [Starting] Opening the serial port - COM4

[2019-11-12 03:53] DeqingSun opened #924 "New version of Arduino extension fail to overwrite environment variable with a OS branch"
Hi, today I was testing debugging Arduino Uno with VScode on Mac. The launch.json worked in September didn't work with the current release of extension.

it used to be
###
            "miDebuggerPath": "C:\\Program Files (x86)\\Arduino\\hardware\\tools\\avr\\bin\\avr-gdb.exe",
            "debugServerPath": "Z:\\Github\\dwire-debug\\dwdebug.exe",
            "debugServerArgs": "verbose,gdbserver,d

[2019-11-12 08:27] stevenjoezhang commented on #922
Same issue here - Nothing shows up after clicking the `<Select Serial Port>` button.

vscode-arduino version: 0.2.27
vscode version: 1.40.0
OS version: Darwin x64 19.0.0 (macOS Catalina 10.15.1)

[2019-11-12 09:18] hellyzh commented on #924
There should be no change for the debugger of Arduino extension. Have you selected the Board Type and serial port for your device?

[2019-11-12 09:35] ThomasOdegard commented on #922
Same issue.
Arduino ext.version: 0.2.27
VScode version: 1.40.0
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Win10

arduino.log showing:

{"correlationId":"4e71062607b3432184bf6cdd6cec17b6","command":"arduino.selectSerialPort","message":"error","errorLine":"\tat Object.<anonymous> (c:/users/..../.vscode/extensions/vsciot-vscode.vscode-arduino-0.2.27/vendor/nod

[2019-11-12 09:49] sreebhargava143 commented on #816
VSCode serial port issue is not there till may2019 update it started from june 2019 update so to solve the serial port issue with arduino extension I rolled back to the [version released on may2019](https://code.visualstudio.com/updates/v1_35) it is working fine. Remember to make the **"update.mode" : "none"** in settings.

[2019-11-12 12:21] serioushare commented on #774
Got the same issue, but I'm mostly using the arduino devtools serial monitor since it's 2 way.

@luke-shields:  You can select the port by adding `"port": "COM3",` to the projects arduino.json file.

[2019-11-12 14:16] StaDo0815 opened #926 "[Error] Exit with code=1 when uploading"
I'm having this problem with uploading to my arduino mini pro  (I'm not using PlatformIO)
![Problem](https://user-images.githubusercontent.com/41636641/68678893-1f193880-055f-11ea-9ad4-3d71dca23156.PNG)

[2019-11-12 17:09] Dhdrummer commented on #922
I have the same issue, clicking on a COM port name in status bar does nothing.

[2019-11-12 17:21] Dhdrummer opened #927 "Unable to select serial port"
Issue Type: <b>Bug</b>

After the update to 1.40.0 I tried to change serial port by clicking on it in status bar but nothing happens. Every other clickable method also does not work.

Extension version: 0.2.27
VS Code version: Code 1.40.0 (86405ea23e3937316009fc27c9361deee66ffbf5, 2019-11-06T17:02:13.381Z)
OS version: Windows_NT x64 10.0.18362

[2019-11-12 19:14] jrlanglois commented on #927
I have the same configuration and am running into the same issue.

Strangely, I had this very extension working just fine (including selecting the serial port) a couple weeks ago.

[2019-11-12 19:28] jrlanglois commented on #922
To be totally honest, this might be related to the Arduino IDE installation. Why people are pasting things like how much RAM they have is bizarre.

My set up is as follows:
[code]

I will try an older version or two of the IDE and compare results...

[2019-11-12 19:38] jrlanglois commented on #922
Quick update: testing out [vscode 1.39.2](https://code.visualstudio.com/updates/v1_39) and the COM port selection works just fine.

[2019-11-12 19:44] acrandal commented on #922
I can confirm @jrlanglois finding that vscode 1.39.2 has a working serial port selection.

Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-66-generic

Arduino IDE: 1.8.9

[2019-11-13 02:06] DeqingSun commented on #924
Hi,

I just figured out the new 1.40 VScode break it. 1.39 works fine.

[2019-11-13 02:53] hellyzh commented on #926
Does that work before? Are you using VSCode 1.40.0? There is a bug that unable to select serial port in the version.

[2019-11-13 02:58] hellyzh commented on #927
Unable to select serial port #918

[2019-11-13 07:41] dooriya commented on #922
Duplicated with #918 #927 due to VSCode engine bumped to 1.40 with Electron 6.0 update.

[2019-11-13 07:47] dooriya commented on #918
We're currently working on a new release containing the fix to this issue, will update you once we release goes public.

[2019-11-13 07:48] dooriya commented on #927
Duplicated with #918 due to VSCode engine bumped to 1.40 with Electron 6.0 update.
We're currently working on a new release containing the fix to this issue, will update you once we release is go public.

[2019-11-13 07:50] dooriya commented on #920
We're currently working on a new release containing the fix to this issue, will update you once we release is go public.

[2019-11-13 07:56] dooriya commented on #922
We're currently working on a new release containing the fix to this issue, will update you once we release is go public.

[2019-11-13 14:04] gtleon opened #930 "Can't install libraries from Vscode for ESP8266"
Hello!

Please tell me I would like to create a portable version of the plugin for Arduino for vscode.

In the Arduino app, I changed the location of the Arduino system folders.

In the plugin for VSCode, I changed the folder location to the ones I needed.

Basic standard sketches are verified.

1) Can't install libraries from Vscode for ESP8266 (via Arduino distribution installed).

2) After inst

[2019-11-13 14:26] StaDo0815 commented on #926
I know the bug. For that reason I'm using 1.39.2. It never worked before.

[2019-11-13 14:56] xdubx commented on #774
Same issue on vsc 1.4.0 on linux. Serial port selecting with a waring in verbose mode. But no error message.
Flashing works, if you set the port manually.

[2019-11-13 21:43] PeterWone commented on #774
The problem is well understood and has a straightforward solution. This extension uses native node modules which breaks whenever the node version of VS Code changes. The solution is to update the extension to use the new version of node, but this just breaks again later for the same reason &ndash; which is why this issue just won't die.

A permanent solution suggested by the VS Code team is to rew

[2019-11-14 11:09] iMina opened #932 "VS Code November update broke the extension"
The extension was working fine until VS Code updated this month. Now, the COM port selection and the Serial monitor are not working at all.
When I try to open the serial monitor, the extension gives this error :

I can manually change the COM port in arduino.json file, but the serial monitor cannot be opened, and switching to the serial monitor from the output window opens it, but connecting to th

[2019-11-14 13:10] dzuda11 commented on #851
Hey!! We have the same issues again with VS Code v1.40.1. can you fix it again or show how can it be fixed? Than you!

[2019-11-14 13:29] xinyiz1226 commented on #932
Duplicate with #918

[2019-11-14 13:37] xinyiz1226 commented on #851
Duplicate with #918 , we are working on the fix and will let you know when it is ready.

[2019-11-14 14:09] #932 closed

[2019-11-15 01:55] hellyzh opened #933 "Fail to debug using the Arduino extension on Linux Ubuntu"
Debugging is not working on Ubuntu, only works on Windows and Mac. The error is showing
"**Cannot read property 'apply' of undefined**" when start the debug.

[2019-11-15 09:08] dooriya commented on #927
The serial port issue has been fixed in the latest Arduino extension release (0.2.28).
Please install the latest Arduino 0.2.28 from marketplace https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino to verify if this is resolved on your environment.

[2019-11-15 09:09] dooriya commented on #922
The serial port issue has been fixed in the latest Arduino extension release (0.2.28).
Please install the latest Arduino 0.2.28 from marketplace https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino to verify if this is resolved on your environment.

[2019-11-15 09:09] dooriya commented on #920
The serial port issue has been fixed in the latest Arduino extension release (0.2.28).
Please install the latest Arduino 0.2.28 from marketplace https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino to verify if this is resolved on your environment.

[2019-11-15 09:10] dooriya commented on #919
The serial port issue has been fixed in the latest Arduino extension release (0.2.28).
Please install the latest Arduino 0.2.28 from marketplace https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino to verify if this is resolved on your environment.

[2019-11-15 10:18] bluesnotes commented on #774
Perfect! Thank's.

Le ven. 15 nov. 2019 à 10:11, Dooriya Li <notifications@github.com> a
écrit :

[2019-11-16 05:37] Puneetkumarpal commented on #919
Ok thank you sir

On Fri, Nov 15, 2019 at 2:40 PM Dooriya Li <notifications@github.com> wrote:

[2019-11-17 11:01] MagTun commented on #891
Adding `-DDEBUG=false`  to `C:\Program Files (x86)\Arduino\arduino_debug.l4j.ini`  didn't work for me.

[2019-11-17 14:01] MikeX7 commented on #922
It fixed the issue for me

[2019-11-18 08:34] Wulfheart commented on #800
I'm unsure how this is related to the issue. I'm getting the same error.

[2019-11-18 08:45] hellyzh commented on #924
we have released new version arduino 0.2.28, please check if it works for VScode 1.40.1

[2019-11-18 10:59] Jackbennett opened #935 "Arduino IDE Cannot be found if C:\ is hidden"
Getting code & arduino setup for students in a school, the module fail to start with the error "Cannot find IDE"

If I manually set `arduino.path` to the default `C:\Program Files (x86)\Arduino` where I know it is installed the module works fine.

I guess something in the path validation fails to traverse c:\ looking for the IDE. If it just blindly tries to run the files it wants it will find them

[2019-11-19 00:22] DeqingSun commented on #924
Hi,

This works now, thanks.

[2019-11-19 00:22] #924 closed

[2019-11-19 02:39] acrandal commented on #922
It seems to have worked me for my systems as well.

@dooriya and team:
Thank you so much, devs! Having VS Code for Arduino work is a great tool.

[2019-11-19 16:59] hoekbrwr commented on #891
It worked for me.@MagTun Are you sure you did put it in the right file?

[2019-11-19 17:17] smarpug commented on #922
Excellent. This solved the issue on my environment (summarized in previous comment).

[2019-11-19 17:27] MagTun commented on #891
I retried today and it worked. Not sure what happen.

[2019-11-19 17:33] jrlanglois commented on #922
+1, v0.2.28 fixes the issue for me. Thanks!

[2019-11-19 22:17] josephpage commented on #927
I confirm that the issue with Serial Port is fixed with 0.2.28, on my side too.

[2019-11-19 23:37] PeterWone commented on #918
Thanks for your efforts, I have tested vscode-arduino 0.2.28 with VSCode 1.40.1 and full compatibility has been restored.

[2019-11-19 23:37] #918 closed

[2019-11-20 02:02] hellyzh commented on #935
Please add arduino.path as below, if you don't have permission on c:\, please copy to the Arduino folder to a drive like below which you has permission.
[code]

[2019-11-20 02:54] dooriya commented on #922
Thanks you all for the feedback,
Since this issue is resolved in the latest 0.2.28 release, I gonna to close it here.

[2019-11-20 02:54] #922 closed

[2019-11-20 02:57] dooriya commented on #927
Thanks you all for the feedback,
Since this issue is resolved in the latest 0.2.28 release, I gonna to close it here.

[2019-11-20 02:57] #927 closed

[2019-11-20 02:58] dooriya commented on #920
Thanks you all for the feedback,
Since this issue is resolved in the latest 0.2.28 release, I gonna to close it here.

[2019-11-20 02:58] #920 closed

[2019-11-20 02:58] dooriya commented on #919
Thanks you all for the feedback,
Since this issue is resolved in the latest 0.2.28 release, I gonna to close it here.

[2019-11-20 02:58] #919 closed

[2019-11-20 04:28] jimaobian commented on #866
If you are using arduino UNO (ATmega328P chip) try:
[code]

If you are using arduino Leonardo (ATmega32U4 chip) try:
[code]

If you are using arduino Mega (ATmega2560 chip) try:
[code]

Here is the io.h file in AVR library for reference.
[code]

[2019-11-20 09:02] zeier commented on #920
Verified with version 0.2.28 that the issue does not occur anymore on my environment.

[2019-11-20 17:56] oparex commented on #776
I have the same problem on a mac. I can't find the location of omp.h, I tried to find it with find in terminal, no success. It would help to know Arduino IDE's include path. Google searches on this only explain what this is, not where...

[2019-11-21 05:03] #835 closed

[2019-11-21 10:29] dooriya commented on #926
@StaDo0815 Could you provide more information for this issue? E.g. your development environment, the repro steps, and the full error message/log?

At the same time, we just released a updated version for Arduino extension, could you try installing the **latest 0.2.28** from the [marketplace](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino) to check if the issue sti

[2019-11-21 10:36] dooriya commented on #869
PR is merged with the fix, so close it here.
Please feel free to re-open this issue if you still get the problem.

[2019-11-21 10:36] #869 closed

[2019-11-21 10:36] dooriya commented on #869
The fix is released in Arduino 0.2.28.

[2019-11-22 12:17] rvhani commented on #690
@Shirsendu-Bairagi ,temporary solution, downgrade vscode to 1.39.2 or older and disable auto update until this issue solved. Work for me. solution from someone on github.

[2019-11-22 15:24] shba007 opened #936 "Time Stamp [Feature Request]"
Hi Developers Can you Add a time Stamp in Serial Port Monitor like Arduino its helps a lot for time monitoring

Thank You

[2019-11-22 19:51] mt1n opened #937 "Board Manager not working in Docker container"
I am running Visual Studio Code in a docker container. When I open the Board Manager I just see a connection failed message to localhost:<random port>.
In localWebServer.js I changed fixed the port and configured docker to forward to this port. I also changed the ServerUrl to my server address.
This trick seemed to work but this is not the best solution, I guess.

[2019-11-23 10:38] modmatic commented on #856
This also has the benefit of the screen not switching to the Arduino IDE every time I verify or upload. I use full-screen apps a lot (Mac) and once it switches over to whichever screen has the IDE, it doesn't go back (that part is an OS thing, but is an annoying side effect of using the Arduino IDE vs CLI).

[2019-11-23 10:43] modmatic opened #938 "[Feature Request] Verify/upload using current INO file"
When developing libraries with multiple example INO files (or working in any directory with multiple INO files), it's inconvenient to have to keep updating the current sketch in the JSON config/plugin.

This is a feature request to tie the "verify" and "upload" buttons to the current INO file.

It would be more intuitive and also reduce confusion when users try to build a file that they are editin

[2019-11-23 10:45] modmatic commented on #938
Additional ideas/alternatives:

- Option to enable/disable this feature
- Functionality added using additional buttons, if current functionality must be retained.

[2019-11-24 17:42] StaDo0815 commented on #926
Sorry for not answering. The issue has been fixed by updating VSCode as well as the Arduino extension.
Thank you for helping out.
![Upload Done](https://user-images.githubusercontent.com/41636641/69498628-25f26480-0eea-11ea-921b-fe312df05dda.PNG)

[2019-11-24 17:42] #926 closed

[2019-11-25 02:19] dilin-MS commented on #889
Hi @rido-min . We have fixed the issue in the latest v0.10.17 Azure IoT Device Workbench. You can try the latest bit to confirm that. Thanks for your active participation!

[2019-11-25 08:52] TomasHubelbauer commented on #856
@a7hybnj2 It looks like the Arduino Builder is actually based on invoking the Arduino CLI, at least that what I get from a quick read of its source code. It imports it as a module dependency and I think it invokes it for the compilation, although I don't know much about Go so I might be misunderstanding. What's also interesting though is that it is apparently bundled with the Arduino IDE and if it

[2019-11-26 14:36] OskaruSenpai commented on #807
+1

[2019-11-27 06:49] xinyiz1226 commented on #842
This issue has been marked as stale because it has no recent activities. It will be closed if no further activity occurs within 3 days. Thank you for your contributions.

[2019-11-29 22:26] luxmorpheux opened #939 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.28`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Button\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extens

[2019-12-02 02:26] 0xStarcat commented on #774
I just installed 0.2.28 and I still have the issue on linux. (arduino 2:1.0.5)

[2019-12-02 03:21] PeterWone commented on #774
@0xStarcat  What version of VS Code do you have?

[2019-12-04 03:09] MayamaTakeshi opened #940 "tinkercad"

[2019-12-04 03:09] #940 closed

[2019-12-04 03:14] MayamaTakeshi commented on #940
Sorry, opened by mistake while doing issue search.

[2019-12-04 23:05] dbonnell commented on #891
Thank you @xrstf, it's been driving me nuts having to scroll through hundreds of lines of crud to find the real output!

I didn't pay close enough attention first time and made the change to the wrong INI file.  There are two of them and the extra line must go in the *_debug.l4j.ini for it to work.

[2019-12-06 01:08] terrillmoore commented on #891
@zunhu On my system (Win10 Pro), I had to use file explorer>properties, and take ownership of the file in order to edit it. (I could have used an editor at an elevated prompt, perhaps, but taking ownership seemed less of a blunt instrument.) This also is not really something most Arduino users will know how to do, especially on locked-down/corporate systems. I strongly suggest treating this as a b

[2019-12-06 01:25] terrillmoore commented on #871
It works for me, but I find I must be very careful with case in the paths in `c_cpp_properties.json`.

Found empirically on Windows 10:

1) the drive letter **must** be upper case.
2) the case of each element of the path must match exactly what is used is on disk.

For example, for me:

- `c:/Users/MYNAMEHERE/AppData/Local/Arduino15/packages/mcci/hardware/stm32/**` doesn't work.
- `C:/Users/MYNAME

[2019-12-06 02:55] hellyzh commented on #871
Yes, make sure all set correctly especially `compilerPath`, `intelliSenseMode` will work well to give smart suggestion.

[2019-12-06 08:31] manuelmaurer opened #941 "prebuild not executed during Upload Using Programmer"
In my arduino.json I have configured a script to install some libraries prior to compiling:
[code]
This works fine with the standard Verify and Upload commands.
However, using an Programmer (AVRISP mk2 in my case) the script is not called.

Expectation:
[code]
Actual:
[code]

Running vscode 1.40.2 with Arduino 0.2.28

[2019-12-06 08:49] manuelmaurer opened #942 "Saved programmer not selected"
When selecting a Programmer, the selection is saved in the arduino.json file. However, this selection is not restored when loading the project (neither after "Open Folder" nor after a restart of vscode).
It also does not matter which programmer is selected (tested with multiple entries).

[2019-12-06 17:14] aubergene commented on #918
I'm still having this issue. I get the following output when opening, but no values appear

[code]

[code]

[code]

[2019-12-07 18:34] marcelo-lara commented on #891
Thanks @xrstf, works for me!

[2019-12-09 21:10] PeterWone commented on #918
@aubergene The problem does not occur for
[code]
Occasionally I've had problems after updating Node that were fixed by a reboot. If you reboot and you can still reproduce the problem then maybe you have versions of Node and paths are causing the wrong version to be used, but this seems unlikely given that 12.4.0 is being reported.

If all else fails then create a new issue and include the facts th

[2019-12-10 01:19] hellyzh commented on #935
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2019-12-10 01:19] #935 closed

[2019-12-12 15:51] nmaupu commented on #870
I have the exact same problem even after toggling around in C/C++ intellisense options...

[2019-12-12 23:41] barbudor opened #944 "Can't select custom programmer from Digistump board package"
vscode details:
- Version: 1.40.2 (system setup)
- Commit: f359dd69833dd8800b54d458f6d37ab7c78df520
- Date: 2019-11-25T14:54:45.096Z
- Electron: 6.1.5
- Chrome: 76.0.3809.146
- Node.js: 12.4.0
- V8: 7.6.303.31-electron.0
- OS: Windows_NT x64 10.0.18363

other details:
- vscode-arduino: v0.2.28
- arduino ide: 1.8.10
- custom board package: http://digistump.com/package_digistump_index.json from http

[2019-12-14 07:19] iitaka1142 opened #945 "Cannot download "https://github.com/sass/node-sass/releases/download/v4.11.0/win32-x64-79_binding.node""
When I install vscode-arduino with npm, npm reports error with message below,

[code]

I could install after ```npm install node-sass``.
it download v4.13.0/win32-x64-79_binding.node

scripts/install.js should be corrected.

[2019-12-14 22:40] barbudor commented on #944
dupplicate of  [#898](https://github.com/microsoft/vscode-arduino/issues/898)

[2019-12-14 22:40] #944 closed

[2019-12-14 22:44] barbudor commented on #898
I have the same issue with Digistump
vscode-arduino can read the board.txt to build correctly but cannot used Digistump specific programmer `micronucleus`

Current work around is to have a flash-it.cmd/flash-it.sh that can be called from the terminal.

[2019-12-16 01:27] hellyzh commented on #939
correct url: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2019-12-17 03:40] hellyzh commented on #945
The dependency has been updated in [PR943](https://github.com/microsoft/vscode-arduino/pull/943), you can try again.

[2019-12-21 16:58] skoky commented on #901
I wish to connect to YUN with IP console as well

[2019-12-21 22:30] umatbro opened #947 "Verify error: java.io.IOException: No valid code files found"
## What is expected vs what is happening

I want to verify my Arduino file but it results with an error `java.io.IOException: No valid code files found` even with the file is empty
[code]

## Issue details
Version of VSCode:
[code]
OS: Windows 10

Steps to reproduce:
1. Open new folder `File -> Open folder...`
2. Click `Ctrl + Shift + P` and select `Arduino: Initialize`
3. Create `.ino` file and s

[2019-12-28 13:02] iitaka1142 commented on #945
fixed, thank you.

[2019-12-28 13:02] #945 closed

[2019-12-28 13:14] silardg commented on #942
Same situation when using STM32L0 boards with ST-Link programmers.

[2019-12-30 00:06] rvhani opened #949 "Play sound after verifying or uploading done."
I have simple question. Like this title above, how to play sound when verifying or uploading done?
Thanks.

[2019-12-30 14:50] ZBHorizon opened #950 "Cannot find Arduino IDE. Please specify the "arduino.path" in the User Settings. Requires a restart after change."
<img width="959" alt="Anmerkung 2019-12-30 154833" src="https://user-images.githubusercontent.com/59367022/71586870-e556be00-2b1b-11ea-830a-1f1e02d8f086.png">

Ich habe Windows 10 un bekomme es einfach nicht hin den Arduino.path anzugeben

[2020-01-02 16:50] MagTun opened #952 "Save the last used end of line"
Please add a way to save the last used end of line so we don't have to select it again each time. One way of doing could be via settings.json

Thanks!

[2020-01-03 11:26] ag88 opened #953 "Formal output folders"
can the output folder functionality be made a permanent feature of vscode-arduino?
i.e. this should have a user selectable folder in the project folder

https://github.com/microsoft/vscode-arduino/issues/477
https://github.com/microsoft/vscode-arduino/issues/477#issuecomment-369466275

the reason is that doing a 'verify' does a build and the temporary folder is deleted after verify runs. but what

[2020-01-04 14:01] lewisxhe commented on #598
Agree! +1

[2020-01-05 14:40] ahorvat commented on #463
Agreed, documentation can use some improvement

[2020-01-06 01:28] hellyzh commented on #939
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-01-06 01:28] #939 closed

[2020-01-06 01:29] hellyzh commented on #871
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-01-06 01:29] #871 closed

[2020-01-06 01:39] hellyzh commented on #950
Have you installed [Arduino IDE](https://www.arduino.cc/en/Main/Software)? And please add the setting of "arduino.path", if in Windows, go to Visual Studio Code, click File > Preferences > Settings, then click the Open Settings (JSON) icon in the upper-right corner of the Settings page.
add `"arduino.path": "C:\\Program Files (x86)\\Arduino"`.

[2020-01-06 02:09] hellyzh commented on #816
Is the issue still exist? I am alse not able to reproduce it if use the latest version of Arduino extension and VSCode.

[2020-01-06 02:20] hellyzh commented on #952
Thank you for your advice. Do you have more details?

[2020-01-06 05:03] MatthewSteeves commented on #807
Good idea re: workaround using task! Care to share the details?

[2020-01-06 09:28] lacerto commented on #807
Sure. It's nothing fancy just a Python script overwriting arduino.json:
https://gist.github.com/lacerto/2a0e7f0102c02e5d01784573abc43736

The same can surely be accomplished with a couple of built-in command line utilities, maybe using [jq](https://stedolan.github.io/jq/) or some other command line json processor. It was easier for me with Python.

[2020-01-06 15:12] terrillmoore commented on #871
@hellyzh, is it not a bug that things are case sensitive on Windows? On the command line or in Exploror, the file system paths are not case sensitive. The drive letters are not case sensitive.  But clearly, in my testing, Intellisense setup is case sensitive. I note that @ImolaS3 was also using a mac, which like Windows is also case insensitive (for the default the file system setup).

[2020-01-07 08:04] hellyzh commented on #871
@terrillmoore, I have tested from my side, it is not case sensitive for windows file path. When you do the test, you can also try to clear the Intellisense cache by running `"C/C++: Reset intelliSense Database"` or restart VSCode. If you find it is really a bug, please feel free to open a new bug, thank you.

[2020-01-08 06:00] hellyzh commented on #947
The expected result should be showing `"[Done] Finished verify sketch - app.ino“`.
You can try to open `"Arduino: Examples"` like Blink, and check the verify result.

[2020-01-08 06:16] MagTun commented on #952
No, I don't know how to implement this, I just know many extensions use the settings.json to store such users preferences.

[2020-01-08 06:25] hellyzh commented on #952
What do you mean the last use end of line? is it the selection after click `Arduino: Open Serial Monitor` like "No line ending", "Newline" ...

[2020-01-08 07:43] MagTun commented on #952
Yes this is what I mean:  when I want to send text to my connected device, I always have to make sure the end of line is the right one because each time I restart vscode the line ending is set back "No line ending" and not the one I usually use (ex: Newline). If my choice was saved in settings.json, then each time vscode would restart, it will automatically set the end of line to the one I want (e

[2020-01-08 16:44] drewsed opened #954 "Problem calling Arduino commands from Custom Task."
Hi,

first of all thanks for this great Arduino extension.

I added a [custom task](https://code.visualstudio.com/docs/editor/tasks#_custom-tasks) "ESP32 OTA Upload" to vs code, which simply calls the `espOTA.py` script to upload the build over the air.
In order to chain the `Arduino: Verify` command with my custom task, I used the following task definition:

[code]

after that I used the
`"depend

[2020-01-09 02:15] hellyzh commented on #954
Please change the task of close Serial Monitor as below and try, it should work.
[code]

[2020-01-09 09:26] hellyzh commented on #905
If use the latest version, the setting `"arduino.allowPDEFiletype": false` should work, and it is disabled by default.

[2020-01-09 14:19] drewsed commented on #954
Hi @hellyzh,
thank you very much! It is working fine now. For the future I will share my settings here:

**tasks.json:**
[code]
It would be better to set some values via variables, but as I do not need to change values (e.g. the IP) very often, it's ok for me.

To run the task from keyboard shortcuts, i edited my **keybindings.json** file:

[code]

[2020-01-09 14:19] #954 closed

[2020-01-10 07:07] adamlaska opened #955 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.41.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\mizx2\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensio

[2020-01-10 08:20] hellyzh commented on #949
Please refer to [AudioV2](https://microsoft.github.io/azure-iot-developer-kit/docs/apis/audio-v2/), and use headphones to listen.

[2020-01-11 12:19] jerver commented on #816
Issue still exists on my installation.

[2020-01-11 18:26] MatthewSteeves commented on #891
@terrillmoore
I hit same issue. However, one of the easiest solutions is to just edit it in VSCode. It's smart/kind enough to notice that it failed to save, and ask if you want to re-try the save as Admin. It's a feature I really appreciate as the OS becomes more locked down!

[2020-01-11 18:31] MatthewSteeves commented on #891
Hey @zunhu,
I know you linked this issue to the backlog, but why is it closed if it's not resolved?
Thanks,
Matt

[2020-01-12 12:00] stoonoon commented on #776
Same thing there.... I couldn't find it anywhere on my win 10 machine. A bit of googling suggested that it's part of OpenMP, which was included in gcc, but not in the xtensa-lx106-elf-gcc folder included in the esp8266 package. I installed gcc via WSL, and then found omp.h under %LOCALAPPDATA%\lxss\rootfs\usr\lib\gcc\x86_64-linux-gnu\5\include
I copied it to a new folder under Arduino\libraries\ a

[2020-01-13 01:45] hellyzh commented on #816
@jerver , have you used the latest Arduino extension 0.2.29 and vscode 1.41.1? And what is your OS version? Is the serial port working properly using Arduino IDE? Because I could not repro the issue, please give more details.

[2020-01-13 01:51] sreebhargava143 commented on #816
Yeah port is working correctly on Arduino ide but vscode Arduino extension has some issues.
I used latest vscode and arduino extension but no use.
I'm using windows 10 Home basic.

[2020-01-13 03:39] hellyzh commented on #816
@sreebhargava143, I just tested on windows 10 home x64 edition, the serial port can open and run use Arduino extension. Do you installed the correct hardware USB driver like [ST-Link/V2](https://www.st.com/en/development-tools/st-link-v2.html)?

[2020-01-14 16:32] abdirk opened #956 "Compile error when included header file name starts with letter earlier in the alphabet than main sketch (.ino) file (macOS Mojave)"
### Description
when main sketch file includes header file with name starting with letter which is earlier in the alphabet than the letter the main sketch filename starts with, then the compilation fails. All header files with names starting with later letters do not cause this issue.
### Steps to reproduce

1. open a new folder in VS Code
2. create file **main.ino** with following contents
`#incl

[2020-01-15 05:08] cschaffter commented on #438
Sort of new to VSC-arduino and could use some help.   Got most of my path problems solved but intelisense is throwing errors for any AVR on chip registers like OCR2A.  "identifier "OCR2A" is undefined.  I tried every sort thing I could think of in the c_cpp_properties.json file.
The sketch only has two lines  #include <arduino.h>  and in the setup section
OCR2A = 0x44;     This is not the only on

[2020-01-16 22:52] bec3x commented on #791
Hello! I am having the same issue. I have followed the steps in this thread but it is still not working. Here are my results from the Arduino Path Dump

![image](https://user-images.githubusercontent.com/44934299/72569659-8b2a5c80-3880-11ea-9599-4bf733a5a3f0.png)

[2020-01-20 15:05] PTS93 opened #957 "Unable to Debug Adafruit SAMD Boards"
Whenever I try to start a debugging session with any Adafruit based SAMD21 board I get a pop up saying that its currently not supported, even the officially supported board the Feather M0 gives the same error message.
Is it not possible to debug any generic SAMD21 board without it being tested? They all behave the same way.

[2020-01-23 05:16] ShixiangWang opened #958 "Wrong chinese text encoding in output panel"
[code]

How can I fix this?

[2020-01-23 05:25] #958 closed

[2020-01-23 18:54] elektronikworkshop commented on #463
Having a good input for the serial monitor is quite important for interactive software. Most of my projects include a serial command line interface. The "Send Text to Serial Port" is pretty cumbersome when having to configure devices that way.

Using an external terminal like minicom or similar is inconvenient too because any other software will interfere with uploading.

Perhaps you can recycle t

[2020-01-24 21:01] jgoeders commented on #807
Thanks, this worked well.  I had to change it to  "command": "python set_main_sketch.py" to get it to work in Windows.  Also, although it changes, the status bar the bottom of VS Code doesn't reflect the change.  I'm not sure how to trigger a refresh there.

[2020-01-25 17:17] rickoman commented on #749
I had the same problem fresh install.  Adding the path recommended by LYWalker fixed the problem

[2020-01-25 18:04] rickoman commented on #942
Same problem here with Adafruit Feather M0 + AVR mkII

[2020-01-25 18:16] whiteb3ar opened #959 "Update board type command does not update intellisense config automatically"
When board type changed "defines" section in c_cpp_properties.json is not updated.

When compiling the code "-mmcu={board}" switch is passed as arg so that there is correct "#define" whilst compilation and there is no errors. But intellisense has no correct "#define" available until manually specified.

Actual result
<img width="673" alt="Untitled" src="https://user-images.githubusercontent.com/10

[2020-01-25 19:26] DoganM95 commented on #774
![image](https://user-images.githubusercontent.com/38842553/73126263-ccbdb480-3fb0-11ea-8e8d-3427b6aa1fa2.png)

VSCode 1.42.0 Insiders
Arduino (VScode extension) 0.2.29

[2020-01-25 22:47] 0xStarcat commented on #774
Sorry for late reply. I can't provide more information because I don't remember what I was doing to cause it (doh!). Consider it resolved for me.

[2020-01-26 15:55] whiteb3ar commented on #959
[This one](https://github.com/Microsoft/vscode-cpptools/issues/2377) causes false positive intellisense errors as well.

[2020-01-27 20:51] ObieOne1 commented on #618
Wauw, so I have just spent 2 days messing around with includepaths and browse.paths before I stumbled on your post. Thanks for this. I will not search any further for now and keep my includes just in the root folder for now.

[2020-02-01 16:10] LoicGRENON opened #960 "Separate verbose modes for compiling/uploading"
At this time, the verbose mode feature is controlled by the setting **arduino.logLevel** and only two values are supported at this time : **info** and **verbose**.
But in my case, I only want the compile process in verbose mode, not uploading. So I have several garbage lines at console output ...
Maybe you could add **verboseOnlyOnCompile** and **verboseOnlyOnUpload** values as we could choose wha

[2020-02-04 15:54] elektronikworkshop commented on #892
Yeah, compiler output parsing is the way to go. This way the settings carry always valid paths and preprocessor flags even when boards are switched.

[2020-02-04 17:00] elektronikworkshop commented on #438
I'm pretty annoyed. Why don't they just parse the compiler output and populate the intellisense with it correctly? Fiddling with that configuration is useless, since I switch architectures mostly every second build (developing libraries). This extension is pretty f*%&*d up.

[2020-02-04 17:16] elektronikworkshop commented on #959
I have the same issues. The only proper way to do it is to parse the build output and auto fill the intellisense settings. But when looking at the push activity here I get the impression that this project is more or less dead.

[2020-02-05 18:07] ttins opened #961 "Update / Install Package Error 255"
If following this tutorial "https://docs.microsoft.com/en-us/samples/azure-samples/mxchip-iot-devkit-get-started/sample/" make sure to install Arduino IDE 1.8.6.

[2020-02-05 21:02] elektronikworkshop commented on #850
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:03] elektronikworkshop commented on #959
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:04] elektronikworkshop commented on #438
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:04] elektronikworkshop commented on #892
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:07] elektronikworkshop commented on #833
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:07] elektronikworkshop commented on #808
Hi to everyone who is suffering from this!

I was so annoyed, that I began to work on an auto-configuration mechanism, which parses the build output from Arduino and creates a `c_cpp_properties.json` from it. The goal is that no one wants likely ever edit this file manually again - except for very weird setups for which I will add a configuration flag/option that will keep the extension from touch

[2020-02-05 21:10] elektronikworkshop commented on #474
Hi, I'm currently implementing the auto IntelliSense feature, see my comment on #438 and others.

[2020-02-06 09:21] muyuuuu commented on #562
where the `.vscode` folder

[2020-02-07 04:46] elektronikworkshop commented on #438
![auto-intellisense](https://user-images.githubusercontent.com/21954933/74001527-43bd5a80-496c-11ea-946e-be5c5ae15fdd.png)

There's very good progress regarding this project. Interested can read the details in the [branch documentation](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md). Summarized: The new magic generates perfect `c_cpp_properties.js

[2020-02-07 21:15] jnanneng opened #962 "Compilation unable to find include file"
Intellisense and the IDE resolve the include files just fine, however when compiling an INO file, an error is encountered that an include file cannot be found.  Screenshot attached.
![Screenshot](https://user-images.githubusercontent.com/29785791/74066445-b22a0900-49bc-11ea-9977-f95ab11407cf.png)

[2020-02-08 12:52] elektronikworkshop opened #965 "webpack: Entry module not found: Error: Can't resolve ... child_process, fs"
Hi,
during my development of the IntelliSense auto-configuration, I ran into the problem below. Since I'd like to focus on the actual task I didn't dig into the depths of webpack to get rid of this problem. The extension host starts never the less but I have a very strong dislike against any kind of errors or warnings.

`child_process` and `fs` are not listed in `package.json`'s dependencies but i

[2020-02-08 13:06] elektronikworkshop commented on #962
Hi,

this doesn't seem to be a problem of vscode-arduino. You try to develop a library for Arduino but it looks like you don't know how to do it. Read the [documentation on how to write Arduino libraries](https://www.arduino.cc/en/Hacking/libraryTutorial) first. There's even more to it than this document mentions -> use google.

As a general advice: Please try to compile your projects in the Ardui

[2020-02-08 16:45] Johnlon commented on #463
+1

Using "send to serial" is to painful to use.
See Arduino IDE - when focus in on serial monitor then typing is sent to the serial comms.
Need same or better

[2020-02-08 18:30] elektronikworkshop commented on #463
HI Johnlon,

I'm currently writing a better IntelliSense-backend for vscode-arduino, because the IntelliSense implementation was even more painful than the serial monitor and no one cared of this issue even if the reports date back before 2017.

I'm now pretty familiar with the code base. As soon as I've finished this rather extensive task I'll probably address this issue and will try to enhance i

[2020-02-09 13:37] Johnlon commented on #463
Appreciated.
I've looked at lots and f options recently and honestly the best I've come up with is editing in vscode hitting save and then running in Arduino to use the serial monitor. The Arduino software However doesn't see the vscode file updates as it is such a primitive tool so I have to restart it frequently.
Can't believe this is the current state of play with Arduino tooling.
I tried eclip

[2020-02-09 13:38] Johnlon commented on #463
I might actually try and patch the Arduino software to load file updates if I can find the time

[2020-02-09 13:40] Johnlon commented on #463
Ps found this....
https://forum.arduino.cc/index.php?topic=386171.0

[2020-02-09 13:47] Johnlon commented on #463
There are actually three things I need to make vscode work well for this

1) allow input on the serial monitor in a convenient way - ie just type and hit return, just like the Arduino IDE
2) have the serial monitor window NOT keep turning off autoscroll (there is a separate ticket for this)
3) have the option of the serial monitor and/or compile window auto clear each time the sketch is compiled

[2020-02-09 14:43] elektronikworkshop commented on #463
Thanks for your input - exactly: These are the features I'm looking for as well. I added them to the list of future work in my branch notes. We can only hope that I'll get that merged later on. If not we could detach my fork and publish it as new extension. Latter wouldn't be the preferred way but it has its advantages:

* Being free means that fixes and improvements can be implemented much quicke

[2020-02-09 14:50] Johnlon commented on #463
Oh and one more.
I want the serial output and perhaps compile windows to be undocked or at least I want them to sit to the right of my code window but they seem rigidly stuck at the bottom of the screen.

[2020-02-09 14:52] Johnlon commented on #463
And I would probably prioritize ease of use over better editing/intelligence.
Hope that helps.

[2020-02-09 15:46] elektronikworkshop commented on #463
I incorporated all into my [notes](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md)
I try to remember this post when I get to its implementation ...

[2020-02-10 04:13] elektronikworkshop commented on #463
I just installed vscode 1.42 and what did I see in the release notes:

### Moving the panel
The panel, which holds the Output, Debug Console, Terminal, and Problems panes, can now be moved to the left side of the editor.

The command View: Toggle Panel Position (`workbench.action.togglePanelPosition`) was removed in favor of the following new commands:

View: Move Panel Left (`workbench.action.pos

[2020-02-11 03:56] ZEROIOT commented on #562
Thanks, I ran into the same problem and solved it by your method now
1. I installed the arduino plugin and added the arduino IDE path. I created a new arduino project and found that no matter it was compiled or uploaded: command 'arduino.xxx' not found. At the same time, I found that in the lower right corner of my vs code software interface, some serial port selection and board selection options

[2020-02-11 14:44] ackvf commented on #355
There seem to be a solution https://github.com/luni64/VisualTeensy

taken from this discussion https://forum.pjrc.com/threads/48878-How-to-add-Teensy-board-to-VS-Code-with-Arduino-plugin

[2020-02-11 16:37] rei-vilo commented on #355
Alas, only for Windows.

[2020-02-11 19:27] elektronikworkshop commented on #965
Got it resolved by myself: a library pulled fs and child_process in

[2020-02-11 19:27] #965 closed

[2020-02-11 21:46] mathieubrun opened #966 "Express server is started on random port when vscode-arduino is activated"
## VSCode info
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-20T11:11:01.597Z
Electron: 6.1.7
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.5.2-arch2-2

## Extension version
0.2.29

## Description:
A random port is opened on the machine on which the extension is running, with an Express server listening. The opened port is availabl

[2020-02-12 13:46] iFreilicht commented on #438
Hey @elektronikworkshop, I'd love to try this out and give feedback. It would be a huge quality of life improvement if this was to work. Could you point me to a resource that helps me install your version of the extension?

[2020-02-12 16:02] elektronikworkshop commented on #438
Hi iFreilicht,

that's the reason I embarked on this project. Great if you'd like to help out - this comes in really handy. Getting the stuff rock solid is one of my central objectives and testing is one cornerstones here.

Currently my work is at the following state:
* Parsing works
* Enable/disable via global or project flags
* You can have personal configurations which aren't overwritten

But I

[2020-02-12 17:19] elektronikworkshop commented on #438
I just learned how I can send you a development snapshot - this way you don't have to bother with the above steps.

I wrote you an email - I hope it's a valid address - ends with `k.com`

[2020-02-12 21:03] vlastahajek opened #967 "Add command to burn bootloader"
This is a continuation of closed #864 .

Arduino IDE contains a command `Burn Bootloader`. This is probably not often used for classic Arduino boards with bootloader inside, but it is an important command when using single chips without a bootloader (e.g. ATtiny) to write fuses.

[2020-02-13 08:17] elektronikworkshop commented on #438
And during the next days I'll prepare a command line tool which allows for the generation of `c_cpp_properties.json`. This way anybody can get better IntelliSense even if it's not integrated into vscode-arduino yet.

[2020-02-13 15:45] jjsanderson commented on #438
This is awesome work, @elektronikworkshop. Very much looking forward to testing the tool - can explore on both Linux and OS X.

[2020-02-14 06:49] hellyzh commented on #961
I can reproduce the issue on Arduino IDE 1.8.11 but not on 1.8.6. Please try to add Environment Variable **PATH** to include path `C:\Program Files (x86)\Arduino`.

[2020-02-14 06:50] #955 closed

[2020-02-15 07:08] shopfr3ely opened #968 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT ia32 10.0.18362`
- VSCode version: `1.42.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\advan\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensi

[2020-02-15 07:10] hellyzh commented on #961
The tutorial should work without changing environment variable using Arduino IDE 1.8.12 which is just released.

[2020-02-15 11:33] elektronikworkshop commented on #438
Hi jj,

thanks a lot - I'm back hacking. I was enjoying some snow during the last two days. I'll prepare something testable and let you know as soon as it's ready. I've not decided yet if I should prepare a complementary command line tool or continue on direct integration.

It looks good for OSX - I ran a test with another user's output and it was parsed perfectly (as I expected, since command inv

[2020-02-15 15:50] elektronikworkshop commented on #967
As vscode-arduino requires the Arduino IDE anyways. Why don't you burn it from there?

[2020-02-16 12:31] rnd-ash opened #969 "INO Files defines undefined but can jump to definition"
Within Arduino INO files, values that are defined in project level header files make intellisense throw the following error:
![image](https://user-images.githubusercontent.com/14551965/74604669-15502580-50b8-11ea-96bc-bd6ba70e9af6.png)

However, as shown, it appears it is able to jump to definition of the define. Project compilation also works fine without an issue

[2020-02-16 14:04] elektronikworkshop commented on #969
vscode-arduino does not configure IntelliSense correctly. This is a duplicate of #438 (and many others). I'm currently working on this issue (I'm not associated with the original maintainers though). A beta test should become available in the forthcoming week. See the issue above for more information.

Before filing an issue, please search the existing issues first. This way we can focus on the st

[2020-02-16 15:09] aztlan2k commented on #644
The proposed solution helped me get `groovysh` running on Chrome OS.  Thanks @terryspring !

[2020-02-17 01:57] hellyzh commented on #816
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-02-17 01:57] #816 closed

[2020-02-17 02:00] #950 closed

[2020-02-17 02:01] #949 closed

[2020-02-17 02:05] hellyzh commented on #947
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-02-17 02:05] #947 closed

[2020-02-17 10:42] vlastahajek commented on #967
Sure, this the only way how to do it now.
However,  why to open another IDE, when all other functions are available in VS Code through this plugin?
This issue is an enhancement, not a bug.

[2020-02-17 10:55] elektronikworkshop commented on #967
Yes, of course it's a feature request. But IMHO vscode-arduino must not implement all functionality the original IDE implements. Burning a bootloader is very architecture specific (it's not even supported by the arduino CLI which is the primary interface vscode-arduino makes use of) and it is a task that a regular user doesn't encounter frequently during his daily use of vscode-arduino. The implem

[2020-02-17 20:43] mikecentola commented on #876
This is still present in the latest release.  I too had to add the define.

[2020-02-18 00:33] elektronikworkshop commented on #876
This is due to the improper IntelliSense implementation of vscode-arduino. I'm currently working on this and a beta should be available soon at least for OSX and Linux. Windows will follow.

Anyone interested can track the progress [here](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md) and I often report progress to issue #438 as well.

Regards
EW

[2020-02-18 00:37] elektronikworkshop commented on #829
This is due to the improper IntelliSense implementation of vscode-arduino. I'm currently working on this and a beta should be available soon at least for OSX and Linux. Windows will follow.

Anyone interested can track the progress [here](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md) and I often report to issue #438 as well.

Regards
EW

[2020-02-18 10:24] acinsa opened #970 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT x64 10.0.16299`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-02-18 18:20] elektronikworkshop commented on #618
IntelliSense is not linked to Arduino's build process. If you want Arduino's builder to find code outside your sketch, you have three choices (best choices first):
1. provide a library (this is easier than you might think)
1. blend the code into your workspace using either
   1. symbolic links (when you're on any UNIX system like Linux or OSX)
   1. manage your additional project with a SCM like g

[2020-02-19 01:17] hellyzh commented on #970
Do you have more details and steps about how to reproduce this issue?

[2020-02-19 01:31] hellyzh commented on #966
This is by design. It should not cause security issue.

[2020-02-19 01:41] hellyzh commented on #930
Support custom libraries with portable version of Arduino #946

[2020-02-19 01:45] hellyzh commented on #905
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-02-19 01:45] #905 closed

[2020-02-19 01:47] #968 closed

[2020-02-19 02:44] dooriya commented on #618
Thanks @elektronikworkshop for the information.

[2020-02-19 02:45] #618 closed

[2020-02-19 06:15] Maaruuuuuul opened #971 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.42.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\adrie\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensio

[2020-02-19 11:17] elektronikworkshop commented on #618
You're welcome!

[2020-02-19 11:24] elektronikworkshop commented on #971
The CPU-profile file is missing:

[2020-02-19 16:40] elektronikworkshop commented on #438
@iFreilicht @jjsanderson et al

I made some significant progress. Most of the functionality is now in place:

* The analysis now runs as a separate build process
* vscode-arduino detects when the user changes sketch, board or board configuration and runs the analysis to generate the `c_cpp_properties.json`
* You can invoke an analysis manually by
  * either running the command **Arduino: Rebuild I

[2020-02-19 21:03] elektronikworkshop commented on #438
Any upcoming alpha/test releases will land in the above mentioned location. I added a readme which will contain relevant information on the release's individual changes.

Enjoy!  :tada:
EW

[2020-02-19 22:26] elektronikworkshop commented on #613
Just saw this as I'm currently working hard on a proper IntelliSense implementation (currently alpha testing), see #438 and [my branch notes](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md). This will become obsolete as soon as latter is integrated. `keywords.txt` is a dirty hack of the Arduino IDE to work around the lack of something powerful as I

[2020-02-20 09:24] hellyzh commented on #876
@mikecentola , have you tried to set "#define ARDUINO 1080 logic" to file "c_cpp_properties.json"?

![image](https://user-images.githubusercontent.com/49181894/74919440-90417500-5405-11ea-854e-890dc6f446b9.png)

[2020-02-20 10:12] elektronikworkshop commented on #876
Hi @mikecentola

if you are on OSX or Linux, you can try my alpha releases which are available since yesterday from [here](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB1Ld2fzZ9Z_NfM3CRay17wa). I'll work on Windows support but this might take some days since I have to convince myself to launch my virtual maching :wink:

[2020-02-20 23:23] elektronikworkshop commented on #438
### Preliminary Windows support has landed.

...and I have fixed some pretty nasty issues which affect the parsing engine on OSX and Linux as well. Better everyone gets the latest alpha release [here](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB1Ld2fzZ9Z_NfM3CRay17wa) (0.2.33). This folder contains a readme with the latest info.

I'll have to clean up and document my stuff during the next few da

[2020-02-21 09:11] hellyzh commented on #962
Thanks @elektronikworkshop for explaining. And the file c_cpp_properties.cpp is only used for intellisense config not compiling include path.

[2020-02-21 09:18] hellyzh commented on #937
Mark a feature request to support Docker container. And Thanks @mt1n for the work-around.

[2020-02-21 09:53] elektronikworkshop commented on #962
You're welcome!

[2020-02-24 16:09] maikeriva commented on #763
I recently began working on someone else's code, and it took me an entire day to figure out all those linker errors were due to THIS. Shouldn't this be mentioned in the extension's instructions??

[2020-02-24 16:46] elektronikworkshop commented on #763
Hi @maikeriva
This has nothing to do with vscode-arduino. How your project is compiled depends solely on the Arduino-backend which is used by vscode-arduino. vscode-arduino can only operate within the limitations of what the backend provides.
This remains valid as well for the include path search mechanism and library design which people often do not understand.

The rule here is: If something doe

[2020-02-24 16:52] elektronikworkshop commented on #763
BTW: you can help improving the documentation by writing a section for the documentation and file a pull request!
Regards, EW

[2020-02-26 16:02] elektronikworkshop commented on #438
@jjsanderson @iFreilicht @mikecentola

My feature branch approaches merging. It seems to work perfectly: Some brave alpha testers and I resolved some minor issues en route. Please test the latest alpha release (see above) and let me know (even if it just works). In the meanwhile I'll discuss the upcoming pull request with the maintainers directly.

Regards
EW

[2020-02-26 23:22] Xepol commented on #952
I issued a pull request (baud_fix) that covers this.  Also you to set this before opening the serial monitor.  Hope they accept it in to the main branch soon.

[2020-02-26 23:26] Xepol commented on #145
I vote for supporting arduino-cli, that would get rid of that dang splash screen too.

[2020-02-27 07:47] cschaffter commented on #438
I installed the fix and it is working for me on Windows10 1903   and  Arduino 1.8.12.  using an Atmega1284 processor.

 Thanks so much this has bee a real annoyance for some time now.

Thanks,
Craig

[2020-02-27 08:18] MickGyver commented on #786
Any news on this? I was hoping to switch to VS Code for Ardiuino development, but this issue is a game breaker.

[2020-02-27 15:07] elektronikworkshop commented on #786
Hi @MickGyver
as @elgerg outlined you can do the following: Specify an output path (what you want anyways to speed up your builds) and then you could fetch the bin from that output path.

A possible feature which I would propose is a post build command (analog to the pre build command) which allows for scripts/commands to be run after a build. By means of such a command you could easily move files

[2020-02-27 15:36] elektronikworkshop commented on #438
Thanks Craig for the feedback!

This exact annoyance was my trigger... Great to hear that it works and helps - this is the best wage I can get!

Wish us luck for getting that merged. Up to now I have no response from the person I contacted at Microsoft. I'd prefer to merge it non-impersonally due to the amount of changes this pull request comprises. Let's see if they're still committed to this pro

[2020-02-27 15:39] DoganM95 commented on #774
It has been a year, since this issue was opened and is still unsolved.
Any progress so far on this problem? This issue really renders the vscode-arduino extension useless.

[2020-02-27 16:26] elektronikworkshop commented on #438
During pull request preparation I added some enhancements:
* The IntelliSense configuration is now updated even during builds (if anything changes) - this help with keeping the configuration up to date during the regular workflow and will probably eliminate some manual invocations of the analysis
* Reworked logging under Windows (dropping irrelevant messages from the Arduino build process)
* Alpha

[2020-02-27 16:54] elektronikworkshop commented on #438
Correction: During upload the latest alpha dumps too much information - I have to rework that. Additionally I found a bug which prevents board configurations to be set. Sorry for that. New alpha will follow.

[2020-02-27 17:07] MickGyver commented on #786
Thanks! I missed that, this does just what I want. :)

That would be great! I run a batch file now manually post build.

[2020-02-27 20:27] elektronikworkshop commented on #438
New [alpha available](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB1Ld2fzZ9Z_NfM3CRay17wa) which fixes all those issues and tries to beautify build log outputs (by removing spurious Arduino-backend messages) especially on Windows.

Regards,
EW

[2020-02-27 20:39] elektronikworkshop commented on #786
Great!
I'll let you know if I find I minute to implement this. It will then be featured in one of my alpha releases I usually announce alphas in the issue above or you can follow the progress [here](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/BRANCHNOTES.md) or poll the readme in the [alpha release Dropbox folder](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB

[2020-02-27 22:17] elektronikworkshop commented on #786
Ok, I added support for `postbuild` to `0.2.30-alpha13`. Configuration as usual:
[code]
Same rules as for `prebuild` apply.
My test (I tested on Linux only up to now):
[code]

Regards,
EW

[2020-02-27 22:23] elektronikworkshop commented on #786
The post build functionality closes this and similar issues which request features some kind of functionality to be performed after and before builds. It will be part of my upcoming pull request.

[2020-02-27 22:34] elektronikworkshop commented on #786
For the people asking for the `bin` copy: the post build command could be setup like
[code]
on UNIX systems (Linux, OSX). On Windows you have to use `copy`.

[2020-02-28 01:44] hellyzh commented on #774
@DoganM95 , I believe the issue has been fixed in the latest version. If you still has issue, please check your OS configuration, if you use linux, please check USB config according to [Guid ](https://www.arduino.cc/en/Guide/Linux):
`ls -l /dev/ttyACM*`
`sudo usermod -a -G dialout <username>`

[2020-02-28 06:50] mathieubrun commented on #966
What is the purpose of this feature ? Could you point me to its documentation ?

[2020-02-28 07:28] MickGyver commented on #786
Thank you very much! :)

[2020-02-28 09:20] Pantastisch commented on #786
Great Job!

[2020-02-28 21:19] OlegKuch opened #973 "Extension don't see standard arduino boards."
There is digispark, esp, stm boards in list of boards, but there are not standard arduino boards.

[2020-02-28 22:00] c66zwzly commented on #947
I meet the same problem with you. Have you solved it ?

[2020-02-28 23:59] elektronikworkshop commented on #786
Hi @Pantastisch @MickGyver

Thanks for your kudos!

I finished my work on the pre- and post-build command support. They now feature
* Full `cmd` (Windows) and `bash` syntax (Linux and OSX)
* A nice set of environment variables during their invocation

Detailed documentation can be found [here](https://github.com/elektronikworkshop/vscode-arduino/blob/intellisense-autoconfig/README.md#pre--and-post

[2020-02-29 00:40] elektronikworkshop commented on #966
Thanks Mathieu for this detailed report.

This is definitely a security issue IMHO. Should rather be something like
[code]
(without diving too deep into the reference code)

I take a look at it tomorrow...

Regards,
EW

[2020-02-29 03:52] SlavDimov opened #974 "customBuildProperties does not put quotes on build.path"
Ext version: 0.2.29
VScode version: 1.42.1
Arduino IDE version: 1.85
Board selected: one of the [STM32Duino boards ](https://github.com/stm32duino/Arduino_Core_STM32)

The contents of my arduino.json look like:
[code]

However the full path of the output folder is
[code]

The sketch verification fails with the error:
[code]

When I look at the build/build.options.json:
[code]
Notice how the path i

[2020-02-29 05:08] umatbro commented on #947
@c66zwzly Unfortunately not, I switched back to Arduino IDE

[2020-02-29 05:10] SlavDimov opened #975 "No way to pass extra compile flags and defines"
I need to pass defines to the compiler, but the arduino.json does not support such option. I tried putting a
[code]
in the c_cpp_properties.json, but it is not picked up during compilation.
Same goes for extra compile flags. I tried putting
[code]
in the c_cpp_properties.json, but it is not picked up.

[2020-02-29 06:23] elektronikworkshop commented on #974
Hi Slav,

thanks for reporting!

This seems to be a bug. I'll fix this in my fork and provide you with a link to an alpha version later.

Regards,
EW

[2020-02-29 06:42] makeway4pK commented on #891
@zunhu might be just an intern

[2020-02-29 06:47] makeway4pK commented on #891
Thanks a lot, @xrstf ! That info might be trivial to you, but a great time saver for me 😁

[2020-02-29 06:52] SlavDimov commented on #974
Hi EW,
thanks for the quick reply!

Waiting on the fix!

Regards,
Slav

[2020-02-29 07:30] elektronikworkshop commented on #974
You're welcome!

I can't reproduce the problem with an Arduino Nano. Here's my build output:
[code]
And my configuration
[code]
But with a BluePill I'm able to reproduce. This leads me to the conclusion, that STM32Duino's build back-end can not handle output paths with spaces. You should file an issue there (and close this one :wink: of course).

Regards,
EW

P.S.: The reason I thought it was a bu

[2020-02-29 08:21] elektronikworkshop commented on #975
Hi Slav again,

`c_cpp_properties.json` is a configuration file for IntelliSense and it's not related to the Arduino build back-end in any way. It's just for getting code highlighting and navigation right (This is what I'm implementing currently because how the extension manages it currently is pretty bollocks).

To cite [this post](https://forum.arduino.cc/index.php?topic=602603.0)

There is a wa

[2020-02-29 10:39] elektronikworkshop commented on #975
Hi Slav,

I added support for additional build preferences in my branch. You can set any Arduino preferences to be used during build within `arduino.json`. Here's an example to set some build flags
[code]
Within my branch those defines will then automagically be added to the IntelliSense configuration.

You can alpha test [here](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB1Ld2fzZ9Z_NfM3CRay17wa)

[2020-02-29 10:58] elektronikworkshop commented on #975
Thanks, @SlavDimov !

Your inquiry triggered me to implement this pretty neat feature!

Regards,
EW

[2020-02-29 13:08] elektronikworkshop commented on #966
Hi Mathieu,

looks better now:
[code]
I had to rewrite the whole web-server initialization, as they didn't even start it asynchronously and didn't wait until the socket was ready and listening. This is required for host resolution though...

You can test-drive it - it is part of my alpha18 release and available from my [alpha release Dropbox folder](https://www.dropbox.com/sh/whmcdt26chyjgby/AAB1L

[2020-02-29 13:34] elektronikworkshop commented on #438
Yet another alpha available:
* Fixes some bugs (problems when no sketch was set)
* Fixes severe security issue [reported by Mathieu](https://github.com/microsoft/vscode-arduino/issues/966)
* Adds new features:
  * New post-build command which allows you to run commands/scripts after successful builds
  * Proper `cmd` and `bash` support for pre-/post-build commands
  * Arduino preferences from with

[2020-02-29 14:51] SlavDimov commented on #974
Hello EW,
Interesting result, I did not bother to try with other board types once I found the missing quotes.
Thank you for your time. I will open an issue in the stm32duino repo.

[2020-02-29 15:03] SlavDimov commented on #975
Hi EW,
Awesome! Thank you for the quick patch!

To respond to your original question my use case is the following:
I am using .cpp and .h files instead of .ino.
About the defines - I need to be able to exclude/include some code based on what I am doing. Say I have a "DEBUG" define and when it is enabled I want it to print a sensor reading every second on the serial monitor. When it isn't it will b

[2020-02-29 15:22] elektronikworkshop commented on #975
Hi @SlavDimov

You're welcome!

vscode-arduino already supports `.cpp` main sketches. Just set the sketch to your `main.cpp` within `arduino.json`. All other `.cpp` sources within the sketch folder are compiled automatically as well. So no need to fiddle with compiler arguments in this case.

I usually write a library as soon as I have reusable code. This has several advantages:
* It remains porta

[2020-02-29 16:43] #974 closed

[2020-02-29 17:21] SlavDimov commented on #975
Hi EW,
I know about the CPP in arduino.json. I already did that. My point was that if you are using .ino files there is not much point in using defines. About the warnings, yes you can do that, but what happens when you collaborate with other people? It is better for them to live as an argument inside the .vscode folder

Regards,
Slav

[2020-02-29 17:40] elektronikworkshop commented on #975
Hi!

This might need more explanation (even though this might not be the right place to discuss such stuff).

Regarding the warnings: You mean because of that the bad code of others? I usually fix the warnings of others and file pull requests. But of course - having a project-wise switch at hand is pretty convenient. Especially for large frameworks which have a slow release cycle...

Happy coding!

[2020-03-02 21:57] ivankravets commented on #975
Please take a look at https://platformio.org that supports Arduino framework.

- https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide
- https://docs.platformio.org/en/latest/projectconf/section_env_build.html

[2020-03-03 05:42] elektronikworkshop commented on #975
Hi Ivan,

thanks, but there are people like me who want a lightweight extension and don't want to use Platform IO. Another of my concerns is its restricted licensing scheme.

Regards,
EW

[2020-03-03 07:02] JerryYangKai commented on #145
In our get started tutorials, it said install arduino IDE instead of windows store's app.

[2020-03-03 07:02] #145 closed

[2020-03-03 09:01] elektronikworkshop commented on #975
And BTW, @ivankravets : It's pretty uncool to come here to fish for people. This makes Platform IO for me even less attractive.

[2020-03-03 09:45] ivankravets commented on #975
@elektronikworkshop there is not difference will you use PlatformIO or won't. It's a fully free and open source. It's licensed under the maximum permissive Apache 2.0 license, where Arduino's new products including IDE are close sourced and even paid. Community Java-based Arduino IDE is under GPL.

I just wanted to save your time.

[2020-03-03 10:34] elektronikworkshop commented on #975
@ivankravets  Thanks for being so generous and saving my time!

Ah, I see - you changed your licensing... There seemed to be the simple mechanics at work: I don't like to contribute to projects where some guy then cashes in the revenues.

But what you're spreading here about Arduino is simply [wrong](https://blog.arduino.cc/2019/10/25/new-arduino-pro-ide-a-closer-look/). The new Arduino Pro IDE wi

[2020-03-03 10:44] ivankravets commented on #975
PlatformIO has been fully open source since the first day (2014) under Apache 2.0. We didn't change license.

What do you mean?

Are Arduino Create, Cloud and other newly added services free and open source? No, because there is no more freedom with Arduino. It has been acquired by ARM/Softbank.

It is your personal opinion and I respect it. You can't create a product where 100% of people will be

[2020-03-03 10:50] richard-mckenna opened #976 "Can't compile functions with reference parameters"
I'm using the M5ez library and trying to use advanced functions with ezMenu addItem [https://github.com/ropg/M5ez#menus-all-the-functions-documented](https://github.com/ropg/M5ez#menus-all-the-functions-documented)

[code]

However compiling with the VSCode Extension returns the following error:

[code]

Compiling with the Arduino IDE works fine.

[2020-03-03 11:37] elektronikworkshop commented on #975
Yes, the PIO's back-end was, but the IDE and other stuff [wasn't](https://community.platformio.org/t/what-part-of-platformio-is-open-source-licenced/1447/2).

Yeah, there are some services which are closed but the core will remain open. For advanced Arduino users Platform IO was an option due to the lack of professional features on the classic Arduino IDE. If this deficiency is gone, the demand fo

[2020-03-03 12:16] ivankravets commented on #975
Thanks, I've just edited that post!

PlatformIO is not an alternative to Arduino. Arduino for us is a big Community of talented people and we work hard to keep full compatibility with legacy Arduino IDE builder. When I talk about Arduino, I don't mean "arduino.cc". I mean all the good things (Wiring) which were founded by Hernando. You can read more here [The Untold History of Arduino ](https://ar

[2020-03-03 12:48] elektronikworkshop commented on #976
Looks like you have some configuration not set up properly. The error message is not an error message of vscode-arduino but of Arduino's build backend. vscode-arduino uses Arduino's build backend, so there must be some differences in your setup. Most probably regarding your libraries. Your error log doesn't help that much. Better you verify with verbose enabled and take a look at the messages ther

[2020-03-04 05:55] hellyzh commented on #973
You can save URL of boards you need to `arduino.additionalUrls` according to [guide](https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-arduino) to get the specified boards.

[2020-03-04 14:05] richard-mckenna commented on #976
@elektronikworkshop interesting. I enabled verbose logging, exactly the same error. However I have figured out the fix.

So my main application .ino file was called **main.ino** changing this to **arduino.ino** I no longer see the error. Did not realise the .ino file needed to be named the same as it's parent folder.

Very misleading error message.

[2020-03-04 14:06] #976 closed

[2020-03-04 17:23] X-iaowh commented on #926
I also meet the same problem, it took me so much times.Then I try to rename the name of the file with an English name instead of a Chinese name,the problem was gone.

[2020-03-04 20:40] DrXoo opened #978 "Project path cannot be changed"
I am writing a Sketch that uses a custom library that I wrote in the same folder.

At the moment of try verify the Sketch the compiler cannot find the header file (.h) for the library that I wrote.

In Arduino IDE this can be solved by changing the _project path._

Here we don't have anyway to change the project path for the compiler.

Here is my project structure right now
![image](https://user-i

[2020-03-05 12:10] Ilie24118 opened #979 "Cannot find Arduino IDE."
![Screenshot-20200305140739-1920x1080](https://user-images.githubusercontent.com/43288147/75980347-f55b9700-5eea-11ea-89dc-28b7c8213aba.png)

[2020-03-05 13:12] DrXoo commented on #979
Please execute the command Arduino: Initialize to create the arduino.json file. Inside you can specify the path

[2020-03-05 13:33] DrXoo commented on #930
If this is already solved then the Issue can be closed?

[2020-03-06 01:52] hellyzh opened #980 "Unable to use serial port in VSCode (Insiders) Version: 1.43.0"
Unable to use serial port in VSCode Insiders Version: 1.43.0.
Extension Version: 0.2.29
VSCode (Insiders) Version: 1.43.0 (system)
OS: Windows 10 (Clean installation a couple days ago)

VSCode Insiders 1.43.0 upgraded electron version, arduino extension also need to upgrade to support it.

[2020-03-06 01:56] hellyzh commented on #774
@DoganM95 , I created a new issue #980 to track this.
Please try to downgrade to VSCode 1.42 to work-around.

[2020-03-06 08:23] DoganM95 commented on #774
@hellyzh thanks for keeping track of this!
The Serial Port issue still persists when downgrading to vscode 1.42

[2020-03-09 22:15] fmlin429 commented on #851
Have the problem resolved? looks like I have the same issue.

[2020-03-09 22:47] dzuda11 commented on #851
Did you update VS Code and extension?
If you are up-to-date then we have the same problem again....

[2020-03-10 03:03] #961 closed

[2020-03-10 03:04] #971 closed

[2020-03-10 03:17] hellyzh commented on #978
Please check doc [Writing a Library for Arduino](https://www.arduino.cc/en/Hacking/libraryTutorial). And there is also a fix #946 (Support custom libraries with portable version of Arduino) to fix intellisense issue with custom libraries.

[2020-03-10 07:23] phoenixxd commented on #980
I'm facing the same issue.

[2020-03-10 08:06] DrXoo commented on #978
Thanks @hellyzh I ended up dividing my project structure. Created a Repo for the library and used it on Documents/Arduino/Libraries and created another Repo for the .ino file

The main concern I was talking about was that the path for Libraries cannot be changed but this workaround is not so critical.

Thank you again

[2020-03-10 08:06] #978 closed

[2020-03-10 08:20] Kowiste commented on #774
Same problem it was working perfectly and suddenly
![image](https://user-images.githubusercontent.com/43513999/76292835-8616e600-62e2-11ea-95bc-0662cc564f18.png)

[2020-03-10 08:32] hellyzh commented on #774
@Kowiste, it is due to VSCode auto upgraded to version 1.43, currently please use [VSCode 1.42 ](https://update.code.visualstudio.com/1.42.1/win32-x64/stable) as a workaround.

[2020-03-10 11:45] ck88988 commented on #980
Same issue I found when I upgraded VSCode to V1.43. I returned to V1.42 till this issue can be solved.

[2020-03-10 14:16] rrakso commented on #774
![image](https://user-images.githubusercontent.com/23143274/76321321-291b3000-62e2-11ea-9a09-9f83557d1737.png)
The same! :((

[2020-03-10 16:58] cooperbaker commented on #851
Same problem here :(

[2020-03-10 17:03] cooperbaker commented on #774
Same here :(

downgrade is a poor solution

[2020-03-10 17:47] Xring-git commented on #774
The same here!

[2020-03-10 17:48] Xring-git commented on #980
Same issue after upgrade to VSC 1.43.0

[2020-03-10 19:15] pilou64 commented on #980
Same issue after upgrade to VSC 1.43.0
Downgrade to 1.42 is OK.
(don't forget to disable auto update on the settings)
https://stackoverflow.com/a/49347158

[2020-03-10 19:21] dzuda11 commented on #851
Duplicated with #980
Downgrade VS code to 1.42 and wait for Arduino extension update....

[2020-03-10 19:22] CodeNameHawk opened #981 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT ia32 10.0.18362`
- VSCode version: `1.43.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-03-10 22:18] wouterds commented on #816
Still happens

[2020-03-10 22:22] wouterds commented on #851
Can confirm that downgrading to [January 2020 release](https://code.visualstudio.com/updates/v1_42) works ❤️!

[2020-03-11 08:18] blfuentes commented on #980
Same hier:
VS Code 1.43.0 (system)
OS: Win 10 1909 and Ubuntu 19.10

Downgrade to 1.42.1 makes it work again.

[2020-03-11 10:07] iqapps commented on #690
Same probleme here.
Cannot select the serial COM port and also get the error: Cannot get property 'close' on null when trying to open serial monitor.
Downgrading to version 1.42.1 fixes the problem.

[2020-03-11 10:42] StratosMylonas commented on #774
VSCode v1.43.0
Arduino v0.2.29
Windows 10 x64
Same here...

[2020-03-11 12:46] DoganM95 commented on #980
Unfortunately a downgrade is never a persistent/good solution, as upgrades exist to close security vulnerabilities, fix bugs, etc.

The extension needs to be rewritten/fixed to work independently of vscode versions

[2020-03-11 17:06] ro4stbeef commented on #816
The issue still exists.

[2020-03-11 20:11] DerekFoster1976 commented on #980
Same here, cannot use 1.43 for MXChip development as serial port COM selector not longer functioning. Only fix is to downgrade to 1.42. I am assuming no testing has been done whatsoever with 1.43.

[2020-03-11 21:05] szohar commented on #816
Any luck here, I am pretty much stack now. It used to work.

[2020-03-11 21:12] Christian1984 commented on #774
I'm having the same issue here:

Mac OSX 10.14.6
Arduino IDE 1.8.11
VSCode 1.43.0
Arduino-Extension 0.2.29

I also had to set my port manually through arduino.json since the port selection did not work otherwise (see https://github.com/microsoft/vscode-arduino/issues/922).

[2020-03-11 21:14] Christian1984 commented on #922
Unfortuanately, I still encounter the issue described above. I'm on:

Mac OSX 10.14.6
Arduino IDE 1.8.11
VSCode 1.43.0
Arduino-Extension 0.2.29

Going through the command palette didn't work either. After setting the port manually through arduino.json upload worked, but serial monitor still does not.

[2020-03-11 21:19] wouterds commented on #816
Turn automatic updates off or set to manual and downgrade to [January 2020 release](https://code.visualstudio.com/updates/v1_42).

[2020-03-11 22:34] smarpug commented on #922
This issue was fixed earlier, but it has re-appeared for me as well.
Windows Version 10 Build 19041.113
vscode-arduino version: 0.2.29
vscode version: 1.43.0

[2020-03-11 22:35] smarpug commented on #922
I can also set the port manually through arduino.json without any problem, but serial monitor does not work.

[2020-03-12 12:02] Xring-git commented on #866
The same for me, but with:

TCCR2A
TCCR2B
TCNT2
OCR2A
WGM21
CS22
CS20

Code compiles and uploads just fine, but with "Not defined" error.

With F12 appear multiple .h files, seems that "__AVR_ATmega328P__" define is ignored.

[2020-03-12 12:39] duckbill70 commented on #774
Hi, same issue for me:

Mac OSX 10.15.2
VSCode 1.43.0
Arduino-Extension 0.2.29

[2020-03-12 18:40] bzeeman commented on #774
Same issue. Honestly Microsoft, your default forced updates are almost always a problem for developers. You should rethink your choice own that when it comes to applications designed for WORK.

MacOS 10.15.3
VSCode 1.43.0
Arduino-Extension 0.2.29

[2020-03-12 18:50] bzeeman commented on #980
Same here. What is the easiest process to downgrade?

[2020-03-12 20:22] rhbroberg opened #983 "provide option to NOT verify sketch when debugging starts"
I've specified the json in my arduino.json file like this:

...
"output": "../build",
...

which always builds in the same location as it should.  Unfortunately, when I start debugging, each time vscode does a build (verify), which is unnecessary.  I can see how it's necessary if you're using the temporary directories each time, but if the directory is not temporary I would like an option to disab

[2020-03-12 20:34] collins-kariuki commented on #774
was having the same issue;thought I had broken something :/

[2020-03-12 20:35] blfuentes commented on #980
Go to https://code.visualstudio.com/updates/v1_42 and download the corresponding one

[2020-03-12 23:14] hussam0O commented on #774
I have the same issue.
is there are any quick solution ?

[2020-03-12 23:32] collins-kariuki commented on #774
Yes just revert to v 1.42

[2020-03-12 23:38] PeterWone commented on #774
@bzeeman The problem is well understood and the workaround is public knowledge. The way to solve it is also clear. If you think it's a priority item, why don't you fork the project, rewrite it to use N-API and submit a PR?

[2020-03-13 06:39] JorgeDaniel369 opened #984 "The Select serial port doenst work"
Issue Type: <b>Bug</b>

the serial dort dont work, im tryin to changue or select my port but it doesnt show me nothing

Extension version: 0.2.29
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.235Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x

[2020-03-13 08:12] hellyzh commented on #876
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-03-13 08:12] #876 closed

[2020-03-13 08:49] blfuentes commented on #984
Take a look here:
https://github.com/microsoft/vscode-arduino/issues/980

[2020-03-13 16:50] davidamayuelas commented on #664
It doesn't work for me. I'm just trying to send to my MXChip IOT Device and when I click on "Select Serial Port" doesn't do nothing

[2020-03-13 19:33] luhua2018 commented on #816
问题依然存在，我重装了几次VSCode也没有解决，正在考虑换一个低版本的。

[2020-03-13 19:39] luhua2018 commented on #816
2020年3月，我遇到了同样的问题

[2020-03-13 19:47] antonu17 commented on #922
Same here.
Can't select serial port via menu. If configure port via arduino.json - upload works.
MacOS 10.15.3 (19D76)
VSCode 1.43.0 (Electron: 7.1.11, V8: 7.8.279.23-electron.0)
vscode-arduino 0.2.29

[2020-03-13 20:23] rafaellucas3 commented on #922
After the update I can't select a new COM port or user the serial terminal.

Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-03-13 23:46] ophayden commented on #980
Same problem. When downgrading, must I uninstall my existing version of vscode before installing the old version?

[2020-03-13 23:48] ophayden commented on #980
Same issue after upgrade to 1.43

[2020-03-14 17:16] BradBath commented on #926
I'm still having this issue. I've got the latest version of the arduino plugin for VSCode and a downgraded version of VSCode to fix a bug in the latest version where clicking Select serial port wouldn't bring anything up (version is now 1.42.1).

[2020-03-15 09:28] MikeX7 commented on #980
How to make it work on 1.43:
Open arduino.json and add this line:
`"port": "COM3"`

[2020-03-15 09:37] blfuentes commented on #980
if you do so, you will be able to upload the sketch but the serial monitor doesn't work, or at least, it didn't work for me

[2020-03-15 12:05] MyFutureIsAMess opened #987 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.43.0`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\Y50c\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension

[2020-03-15 14:49] yuhongshuai commented on #980
Same issue I found when I upgraded VSCode to V1.43. I returned to V1.42 till this issue can be solved.
yes

[2020-03-15 20:51] micahalan commented on #927
I am currently having this same issue with version 1.43.0

[2020-03-16 07:12] cyberflying commented on #922
select serial port does not work.

[2020-03-16 08:15] JinhangZhu commented on #816
- Arduino 0.2.29
- VSCode 1.43.0

The bug still exists here in my Windows: `Clicking "Select a Serial Port" does noting`.

[2020-03-16 14:40] SuperNose opened #988 "Cannot select serial port"
Issue Type: <b>Bug</b>

Open the very lates Visual Code with very latest Arduino Extension and try to select the COM-Port - there is this error message:
Cannot read property 'settings' of null

Please, fix it, it's somehow important to do anything with the Arduino ;-)!

Thank you

Extension version: 0.2.29
VS Code version: Code 1.43.0 (78a4c91400152c0f27ba4d363eb56d2835f9903a, 2020-03-09T19:47:57.

[2020-03-16 21:06] smarthomeagentur commented on #614
Is there any way to highlight errors on compile? I tested it with a fresh project and the only way to find the compilation error seems to be the output in terminal

[2020-03-17 16:39] Rezaasghariir commented on #988
that's true i have that problem too.
Extension version: 0.2.29

[2020-03-17 20:45] jacques42 commented on #922
I can confirm same problem here. I manually added the serial port to arduino.json and that fixed it.
"port": "COM4"

[2020-03-18 04:32] daggilli commented on #922
I'm using VS Code 1.43.0 with the 0.2.29 Arduino extension and the 1.8.12 Arduino IDE under Ubuntu 18.04. The serial port selection is non-functional for me as well. I fixed it by setting the correct TTY device driver in my `arduino.json` to `/dev/ttyACM0` which is the default for Linux.

[2020-03-18 05:16] micahalan opened #989 "Similar to issue #927 - no serial port choice for VS Code"
I am currently having this same issue as issue #927  with version 1.43.0

The serial port "link" does nothing when I click on it, or try and reach that functionality through other menus.

[2020-03-18 07:19] rneurink commented on #989
Same issue here. I can select boards but the serial port selection trough the status bar or through the command does not work a.t.m.

[2020-03-18 07:57] yuhongshuai opened #990 "batch upload esp-01 with arduino bin file for product."
how can I use 'ESP8266 DOWNLOAD TOOL' upload bin of  arduino  to esp-01。
what address  to upload  .

I try to upload this:
boot_v1.7.bin ------0x000
xxxx.ino.bin   ------- 0x01000
esp_init_data_default_v08.bin ---- 0xFC000
blank.bin             ------- 0xFE000

but the operation result is not right.

in one word, I need a method of batch upload esp-01.
or,   Is there is a way to download without c

[2020-03-18 08:57] cschaffter commented on #438
EW,
Something has changed in the past week or so -- was not able to get intellisense to work for the LOLIN(WEMOS) D1 R@ &mini ESP8266 board.  A .ino file with a single line #include <ArduinoJson.h>
gets squiggles but worse it never builds the c_cppProperties.json file in .vscode folder but it does build the .arduino.json.  However it was working on a UNO board and building the json file ok.

I tho

[2020-03-18 09:04] #990 closed

[2020-03-18 12:24] VulcanLIU opened #991 "cannot select port & cannot open port"
Issue Type: <b>Bug</b>

when I click "<Select serial port>",My Visual code doesn't  popup the list of COM as before.I type "port": "COM3" in arduino.json by hand and try to open port.My Visual code told me ”Failed to open serial port com3 due to error: + TypeError: Cannot read property 'close' of null”. My arudino IDE version is 1.8.9.

Extension version: 0.2.29
VS Code version: Code 1.43.0 (78a4c

[2020-03-18 13:58] sslupsky commented on #438
Hey @elektronikworkshop , I had a quick look at your repo ... it appears to be a fork of the vscode-arduino extension, is that correct?  So, the idea is to use this extension instead of the vscode-arduino extension?

I think you are on the right track regarding parsing the build commands.  I have familiarized myself with a couple things about VSCode while using it for Arduino and other work.  I th

[2020-03-18 15:00] manuelmaurer commented on #942
I've tried to dig into the code, it looks like there is no routine to actually load the setting into the programmerManager. Based on how this is handled in boardManagerI wrote a quick fix. Patch attached.

[loadProgrammer.txt](https://github.com/microsoft/vscode-arduino/files/4349640/loadProgrammer.txt)

[2020-03-18 18:29] MichaelCduBois commented on #988
Confirmed issue:

VS Code Version: 1.43.0
Electron: 7.1.11
Extension Version: 0.2.29

[2020-03-18 21:45] Jojojdotpng commented on #989
You can try downgrading VSCode to version [v1.42](https://code.visualstudio.com/updates/v1_42). it  worked fine on my machine

[2020-03-18 22:08] chris-schmitz commented on #816
- VSCode 1.43.1
- Arduino 0.2.29
- Arduino IDE 1.8.10

The bug definitely still exists for me as well. Clicking serial port in the lower menu does nothing. Trying to select the serial port from the command pallet also does nothing.

If I manually add the port in my `.vscode/arduino.json` file I can still upload, but not serial monitoring.

And all of this works fine in my arduino IDE.

![can't sel

[2020-03-18 22:54] cschaffter commented on #438
Problem update:   I think I may have done an update of VSC or the arduino plugin without thinking about it and wiped out the fixed version replacing it with the broken original one.   Took me a while to remember how to install the one from drop box:   To help out others this is what I did to get it back working again:
Downloaded the  vscode-arduino-beta from drop box at:
 https://www.dropbox.com/s

[2020-03-19 12:20] dilin-MS commented on #980
The root cause of the issue is because VS Code 1.43.0 use a new version of Electron, which is not compatible with our serialport. We have been working on fixing it and a new bit of arduino will soon come out.

[2020-03-19 18:09] micahalan commented on #989
Thanks @Jojojdotpng !! Good idea and it seems to have worked.

[2020-03-19 18:42] BinaryHole commented on #989
I am having the same issue.
VSCode - 1.43.1
Electron - 7.1.11

[2020-03-19 19:28] rockboynton commented on #989
Same issue 1.43.1

[2020-03-19 19:30] rockboynton commented on #980
Thank you! I'm sure we all look forward to the update

[2020-03-20 01:21] davewilk opened #994 "Arduino version 1.8.12"
The extension installation instructions say

Note: Arduino IDE 1.8.7 has some breaking changes, causing board package and library installation failures. It is recommended to that you install version 1.8.6 or 1.8.8

But current Arduino IDE version is 1.8.12. Am I not supposed to use that?

[2020-03-20 10:19] marcojak commented on #922
It doesn't work on VS Code 1.43.1 and Arduino extension 0.2.29

[2020-03-20 11:58] dilin-MS commented on #991
Hi, can you take a look and see if the issue you met is the same as #980 ? Thanks!

[2020-03-20 11:59] dilin-MS commented on #989
Dulpicate with #980

[2020-03-20 11:59] #989 closed

[2020-03-20 12:00] dilin-MS commented on #988
Dulplicate with #980

[2020-03-20 12:00] #988 closed

[2020-03-20 12:01] dilin-MS commented on #984
Duplicate with #980

[2020-03-20 12:01] #984 closed

[2020-03-20 12:02] dilin-MS commented on #979
Hi @Ilie24118 , is the issue resolved for you?

[2020-03-20 12:02] dilin-MS commented on #981
Duplicate with #980

[2020-03-20 12:02] #981 closed

[2020-03-20 12:03] #991 closed

[2020-03-20 12:15] Smetanski commented on #922
What exactly you write in arduino.json file?

[2020-03-20 14:05] clarkbremer commented on #922
Same: "select serial port" does nothing.   VS Code1.43.1, Arduino Extension 0,2.29 on Windows 10 v1909.

[2020-03-20 16:24] kingcoyote commented on #816
Still happening to me with VSCode 1.43.1 and Arduino 0.2.29 on Windows 10.

When I click on the select serial port link, nothing happens. When I manually enter "COM3" into the arduino.json file, I can upload to my ESP32 just fine.

It works fine on my work computer, but not from my home computer (yay COVID-19 shifting my work location).

One thing of note - on my work computer, I had Arduino IDE i

[2020-03-20 17:14] daggilli commented on #922
[code]

[2020-03-20 17:17] rafaellucas3 commented on #922
The serial monitor doesn't work even if you add the port line on the arduino.json. Install this one:
[Visual Studio Code 1.42](https://update.code.visualstudio.com/1.42.1/win32-x64-user/stable
). After installtion stop automatic update by modifying the update mode. Go to “File” > “Preferences” > “Settings, search for update mode and change the setting to “none”.

[2020-03-20 17:54] daggilli commented on #922
I can't get the serial monitor to work even after a downgrade. After `Arduino: Open Serial Monitor` I get an editor panel but nothing ever appears on it. The serial monitor in the Arduino IDE works fine. I might as well use VS Code 1.43 and set the port in my `settings.json`..

[2020-03-20 17:57] rafaellucas3 commented on #922
Is the baud rate configured correctly? I did this blog post with the 1.42:
https://rafaelsouza.net/wp-admin/post.php?post=37&action=edit
You can see it worked for me.

[2020-03-20 22:10] daggilli commented on #922
That was it. I set the default baud rate (`arduino.defaultBaudRate`) to be 9600 to match my code and it started working.

[2020-03-21 00:56] clarkbremer commented on #922
Seems there's a PR in the works:  https://github.com/microsoft/vscode-arduino/pull/996

[2020-03-21 03:02] Rafdal commented on #816
Still happening to me too, I have the lastest version of VSCode, Arduino and Ubuntu Linux

[2020-03-21 12:19] Ilie24118 commented on #979
no

[2020-03-21 15:44] DeadpoolKerns commented on #851
I am having the same issue and would love to downgrade but it appears that the January version is only offering a Win64 release. I downloaded the file VSCodeUserSetup-x64-1.42.1.exe.  Although the download link has a reference of https://update.code.visualstudio.com/1.42.1/win32-x64-user/stable ,which might infer an offer for 32 or 64 bit installations, the download was a Win64 release.

Where can

[2020-03-21 15:55] 333fps commented on #851
https://az764295.vo.msecnd.net/stable/c47d83b293181d9be64f27ff093689e8e7aed054/VSCodeUserSetup-ia32-1.42.1.exe

[2020-03-21 16:23] DeadpoolKerns commented on #851
Thank you very much 333fps. I installed 1.42.1 and the serial monitor is functioning as expected again. You've made my day. Now on to getting used to Vscode :+1:  after using arduino UI  :(  for so long

[2020-03-21 16:27] Pijuli commented on #922
Same here...

[2020-03-21 21:23] GregTerrell commented on #851
https://code.visualstudio.com site, then click Updates. This is a history of monthly releases. The link below is the redirect as of today. Left navigation to January 2020 is 1.42.1. Confirmed that rolling back to 1.42.1 fixes the serial monitor fails to open for my Windows10 install.

https://code.visualstudio.com/updates/v1_43

[2020-03-22 02:14] gcurtis79 commented on #596
Still getting this with VSCode Windows and Linux:

VSCode: 1.43.1
Arduino: 0.2.29

It worked fine a couple weeks ago...

[2020-03-22 05:36] me6ran commented on #791
Got the same error as @bec3x
![image](https://user-images.githubusercontent.com/17004677/77243171-5f02c300-6bc4-11ea-8b16-7e0545910125.png)

[2020-03-22 06:16] me6ran commented on #918
having the same issue with Version: 1.43.1

[2020-03-22 11:07] Xring-git commented on #956
Here the same, but I've note that this error appears every time an Header file is the first file in alphabetical order.

I use MyDefines.h (without .ino or .cpp file)

[2020-03-22 13:10] nachogarmilla commented on #808
Thank you for sharing. I had same issue.

[2020-03-22 15:31] flautines opened #997 "COM port selection stop working after vscode v1.43 update"
Issue Type: <b>Bug</b>

After upgrading Visual Studio Code to v1.43, COM selection is not working anymore.

Steps to reproduce the isse:
At the Arduino extension bottom bar click on the "Select Serial Port" button.

expected result:
A list of available ports should open in a listbox in the Editor window.

actual result:
Nothing happens

Extension version: 0.2.29
VS Code version: Code 1.43.1 (fe22a

[2020-03-22 15:37] flautines opened #998 "Serial Monitor stop working after vscode v1.43 update"
Issue Type: <b>Bug</b>

Steps to reproduce the issue:
At the Arduino extension bottom bar click on the "Open Serial Monitor" button.

expected result:
Serial communication is started with the selected compatible board and at the specified COM port.

actual result:
The following error is shown:
Failed to open serial port COM4 due to error: + TypeError: Cannot read property 'close' of null

I made s

[2020-03-22 15:46] DeadpoolKerns commented on #851
Thanks Greg but the file I referenced in my comment came from that site. The only January version available for download is the win64 version. This will not install on my Windows 7 32 bit OS

[2020-03-22 17:18] ZiTAL commented on #998
https://github.com/Microsoft/vscode-arduino/issues/774

[2020-03-22 18:50] plevec37 commented on #922
Same problem,
VScode 1.42 solves the problem.
Merci

[2020-03-22 19:01] JENkt4k opened #999 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-arduino`
- Extension Version: `0.2.29`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.43.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-03-23 03:43] dilin-MS commented on #998
Duplicate as #980

[2020-03-23 03:43] #998 closed

[2020-03-23 03:44] dilin-MS commented on #774
Duplicate with #980

[2020-03-23 03:44] #774 closed

[2020-03-23 03:45] dilin-MS commented on #997
Duplicate with #980

[2020-03-23 03:45] #997 closed

[2020-03-23 05:40] hellyzh commented on #994
1.8.12 is OK. It supports 1.8.8 or later.

[2020-03-23 11:12] davewilk commented on #994
OK, thanks, but why is that directive still present in the installation instructions? I  have to say that I am rather disappointed in this extension, because I also ran into the "Unable to set COM port" bug. Even after setting the port in the .json file the serial; port is not not available for use, which makes the extension a non-starter for many/most projects.

Otherwise it would be great -- aft

[2020-03-23 14:12] Ben-Chapman commented on #816
This is also an issue for me with the 1.43.1 version.

Rolling back to 1.42.1 fixed my issues with the port selection and Serial Monitor. For reference, if on Debian/Ubuntu-based systems: `apt install code=1.42.1-1581432938`

[2020-03-23 22:32] Awbmilne opened #1002 "Unable to start Serial Monitor (again)"
Having an issue with opening the serial port on VScode Arduino extension.

**Also**: Manually setting the serial port works through the settings.json file, but cannot open serial port selection menu with status bar button or command palette.

It seems others have had this issue in the past 2 weeks on #851. People have been rolling back their VScode versions to get it to work again.

Getting error:

[2020-03-23 22:37] Awbmilne commented on #851
@fmlin429 @dzuda11 @cooperbaker @wouterds @DeadpoolKerns

I created issue #1002 for this problem resurfacing, please post a comment there aswell. Thanks!!

[2020-03-24 05:42] dilin-MS commented on #1002
Duplicate as #980

[2020-03-24 05:42] #1002 closed

[2020-03-24 12:20] apicquot commented on #774
Had the issue with
VSCode v1.43.0
Arduino v0.2.29
Windows 10 x64

Works again after downgrading to
VSCode v1.42.0
Arduino v0.2.29
Windows 10 x64

I simply downloaded https://update.code.visualstudio.com/1.42.1/win32-x64/stable and clicked for the installed

[2020-03-24 21:15] Awbmilne commented on #839
**This would be an awesome feature to add!**

Even just a **Command Pallete option**, so the Sketch-Path input can be hailed using a Keybinding instead of the Status Bar UI.

If the Command Pallete option is easy enough to implement, a **History for the command** (you can use arrow keys to scroll through list of most recent Sketch-Paths) would be super convenient!

_Keybinding for power users 💪_

[2020-03-25 18:59] caysira commented on #891
Adding -DDEBUG=false to C:\Program Files (x86)\Arduino\arduino_debug.l4j.ini worked for me! Thanks a lot.

[2020-03-26 02:44] bharatraja commented on #922
I have the same issue on vs cdoe 1.43.2. Can select the serial port

[2020-03-26 08:39] c0range opened #1008 "Cannot use Serial Monitor"
VSCode - Latest (non insider)
Arduino - 0.2.29

When using the Arduino extension with an Adafruit ESP32 Feather (COM3, 80hz, upload speed 921600, serial baud 115200), attempting to open Serial Monitor in VSCode returns the following error.

`Failed to open serial port COM3 due to error: + TypeError: Cannot read property 'close' of null`

This happens every time and I cannot get Serial Monitor to w

[2020-03-26 10:13] hellyzh commented on #1008
Arduino extension v0.3.0 is released to fix serial port issue which requires vscode 1.43.

[2020-03-26 10:14] hellyzh commented on #999
Arduino extension v0.3.0 is released to fix serial port issue which requires vscode 1.43.

[2020-03-26 10:14] #999 closed

[2020-03-26 10:15] hellyzh commented on #994
Arduino extension v0.3.0 is released to fix serial port issue which requires vscode 1.43.

[2020-03-26 10:15] hellyzh commented on #987
Arduino extension v0.3.0 is released to fix serial port issue which requires vscode 1.43.

[2020-03-26 10:15] #987 closed

[2020-03-26 10:17] hellyzh commented on #979
Arduino extension v0.3.0 is released to fix serial port issue which requires vscode 1.43, please try to open an arduino example using the extension.

[2020-03-26 10:18] hellyzh commented on #980
Arduino extension v0.3.0 is already released to fix serial port issue which requires vscode 1.43.

[2020-03-26 10:18] #930 closed

[2020-03-26 10:19] hellyzh commented on #933
Arduino extension v0.3.0 is already released to and support Linux debugging.

[2020-03-26 10:19] #933 closed

[2020-03-26 10:21] hellyzh commented on #970
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-03-26 10:21] #970 closed

[2020-03-26 10:21] #962 closed

[2020-03-26 10:25] davewilk commented on #994
OK, good. Thanks!

[2020-03-26 10:26] hellyzh commented on #952
Arduino extension 0.3.0 has been released. It removed the selection of ending line and use new line with `/r/n` as default.

[2020-03-26 10:29] hellyzh commented on #973
Close the issue because it doesn't have recent activity. Please feel free to open a new issue if you would like further discussion. Thank you for your contributions.

[2020-03-26 10:29] #973 closed

[2020-03-26 10:42] joaomcarlos commented on #891
Let me add that there is 2 `.ini` files and that this only works for the one with `debug` in it.

I couldnt figure out why it wasnt working, and then realized I was editing the wrong file.

[2020-03-26 12:24] Awbmilne commented on #980
The update seems to have fixed it issue. Thanks @hellyzh and the rest of the Arduino extension team!

[2020-03-26 16:32] Xring-git commented on #980
Thanks

[2020-03-26 19:30] clarkbremer commented on #922
Fixed with latest version of Arduino extension (0.3.0)

[2020-03-27 03:00] hellyzh commented on #1008
Duplicate of #980

[2020-03-27 03:00] #1008 closed

[2020-03-27 06:10] hellyzh commented on #994
Thank you for your suggestion. It already mentioned in the prerequistes that the supported Arduino IDE versions are 1.6.x and later.

[2020-03-27 08:20] #980 closed

[2020-03-27 08:23] #952 closed

[2020-03-27 10:59] davewilk commented on #994
Yes, but the first bullet in the instructions still says:

Note: Arduino IDE 1.8.7 has some breaking changes, causing board package and library installation failures. It is recommended to that you install version 1.8.6 or 1.8.8

which to me was very confusing. If the extension supports 1.6 and later except 1,87 then this is what it should say.

[2020-03-28 04:25] hellyzh commented on #994
Yes, the first notice is out of date especially the recommendation of installing version. We will update this.

[2020-03-30 17:08] cocohub commented on #792
Even though I click the lock icon, it stops auto scrolling for some reason. Anyone got this error?

[2020-03-30 17:09] cocohub commented on #784
I have the same issue. Even though I click the lock icon, it stops auto scrolling. Any tips?

[2020-03-31 03:20] BigMangos commented on #875
@Aaronwang81 请问 215 行是哪一行？

[2020-03-31 14:49] Aaronwang81 commented on #875
最新的0.2.29版本应该是218行，
codepage = chcp.toString().split(":").pop().trim()
但这是个公共函数，修改后可能引起其他输出显示 问题。如果有问题，请回退。这也是官方一直没修的原因之一吧。

[2020-04-01 00:45] BigMangos commented on #875
不太懂 TS ，我把这些都注释了
[code]
输出中文正常了，但是有些字显示方框，比如`地址`，非常奇怪，大部分字还是正常的

[2020-04-01 22:13] El-Programador4 commented on #979
I have the same problem as the author, and I don't know how to solve it!

[2020-04-01 22:17] El-Programador4 opened #1011 "Visual Code can´t find the Arduino IDE"
I don't know how to solve it, visual code  can´t find the Arduino IDE.
![Sin título](https://user-images.githubusercontent.com/63022844/78191940-61dc9e00-7477-11ea-9c1b-8f01fbdfc8ae.png)

[2020-04-02 00:38] hellyzh commented on #979
@El-Programador4, have you installed [Arduino IDE](https://www.arduino.cc/en/Main/Software) ?

[2020-04-02 01:15] hellyzh commented on #1011
Please set `arduino.commandPath` to `arduino_debug.exe` and `arduino.path` to `G:\Arduino`, and restart your vscode.
![image](https://user-images.githubusercontent.com/49181894/78200811-56629480-74c2-11ea-9525-f725859d460d.png)
![image](https://user-images.githubusercontent.com/49181894/78200834-6f6b4580-74c2-11ea-9e5e-e1b9ed95646a.png)

[2020-04-02 01:17] hellyzh commented on #1011
#979 Visual Code can´t find the Arduino IDE

[2020-04-02 09:09] hellyzh commented on #994
#1012 submitted the update

[2020-04-02 11:16] El-Programador4 commented on #1011
That doesn't work for me
![Anotación 2020-04-02 131621](https://user-images.githubusercontent.com/63022844/78243530-380d9080-74e4-11ea-9c9b-c38100049007.png)

[2020-04-02 15:28] k1215tian opened #1013 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-arduino`
- Extension Version: `0.3.0`
- OS Version: `Windows_NT x64 10.0.10586`
- VSCode version: `1.43.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`C:\Users\mis-dev\vsciot-vscode.vscode-arduino-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extensi

[2020-04-03 00:33] hellyzh commented on #1011
change it to `"arduino.path": "G\\Arduino\\arduino-1.8.12"`

[2020-04-04 14:18] hakimcoder commented on #891
it's working for me! thanks for sharing your solution :-)

[2020-04-06 11:11] Josh-BI-UK commented on #577
==========================================
I had the same issue using windows 10 and resolved it as follows:

1) In Visual Studio Code, click **File > Preference > Settings**.

2) Type “Arduino” in the search textbox; the Arduino settings page should display.

3) In the field entitled [**Arduino: Command Path**] simply type in "**_arduino_debug.exe_**", nothing more.

I found that if I typed in th

[2020-04-07 15:59] vlastahajek opened #1015 "Serial Monitor keeps ESP devices in flash mode"
__Visual Studio Code__: 1.43.2
__Arduino Extension__: 0.3.0
__Boards__: Wemos D1 Mini, DOIT ESP32 DEVKIT V1

__Isssue__: Opened Serial Monitor keeps ESP8266 and ESP32 in flash mode.

__Details__:
ESP8266 after pressing reset twice:
[code]

ESP32 after pressing reset twice:
[code]

Close Serial Monitor and re-plug USB cable and device works OK.

Downgrading to VSC 14.2.1 and AE 0.2.29 fixes this.

[2020-04-08 05:33] hellyzh commented on #1015
There is no such issue for other device like Devkit AZ3166. And no issue on Linux or Mac OS for ESP32. It looks like related to unreliable reset on windows for ESP32 development boards, please check [doc](https://github.com/espressif/esptool/wiki/ESP32-Boot-Mode-Selection) to see if it helps.

[2020-04-08 13:30] wilsonmfg opened #1016 "Plugging an an arduino with VSCode open to a non-arduino project causes c++ and arduino files to be added to that project"
the files are:
.vscode/arduino.json
.vscode/c_cpp_properties.json

these really do not belong in a nodejs or python project.  the extension should check for an .ino file before adding them.

[2020-04-08 19:58] vlastahajek commented on #1015
I understood that this issue is weird. I have pre-manufactured boards (I apologize for forgetting to add board info, now it is fixed) and I didn't have this problem before upgrading to AE 0.3.0.
I did the cycle with downgrading to VSC 1.42.1 +AE 0.2.29 to resolve that and upgrading again to VSC 1.43.2 + AE 0.3.0 to verify the issue persist twice.

I will try this another computer to verify if it i

[2020-04-10 02:49] hellyzh commented on #1016
Is this because you used the command `"Arduino: Examples"` to open the project? If use `Open Folder...` to open the project, it should not add the files.

[2020-04-10 12:32] lguilhot commented on #818
thank you schupat,
for me it worked with "..hardware/tools/avr/**" and not "...hardware/tools/avr/avr/**"

[2020-04-10 13:18] wilsonmfg commented on #1016
no, the project in question is not an arduino project at all.

[2020-04-10 17:06] Iyaka25747 commented on #1011
I have the same issue but work with Unbuntu. Could you help me to figure out what arduino.path shall I use to bypass this issue ?

[2020-04-10 21:15] adamm commented on #1016
I have the same issue.

It occurs when I plugin an [esp32 dev kit](https://www.espressif.com/en/products/hardware/esp32-devkitc/overview) and /dev/cu.SLAB_USBtoUART is created.   It does not occur when I plug in an Arduino Uno or Nano (which create /dev/cu.usbserial-xxxxxxxx).

![Screen Shot 2020-04-10 at 3 12 25 PM](https://user-images.githubusercontent.com/237575/79023554-d4b3dc00-7b3d-11ea-8e41

[2020-04-11 00:02] Evander12345 commented on #937
Adding an optional configuration setting for the aforementioned server address and port would allow this extension to also be used in [code-server](https://github.com/cdr/code-server). Currently using this extension in code-server results in the same error as @mt1n reported.

[2020-04-11 11:27] unprime2 commented on #956
I also have the same issue. When look at build folder, I see [name].hpp file became [name].hpp.cpp. That's why it said "No such file or directory". Thanks for your investigation, I decided to add "_" prefix to ino file while waiting a solution :)))

[2020-04-12 12:24] Ilie24118 commented on #979
Yes

[2020-04-12 17:49] gautamdamodaran commented on #891
It worked for me by changing the INI file and after re-starting the VS code !

[2020-04-13 00:35] hellyzh commented on #979
@Ilie24118 , Please try to set `arduino.path` to `C:\\Program Files (x86)\\Arduino` (the path of your Arduino IDE) and `arduino.commandPath` to `arduino_debug.exe` and restart your vscode.

[2020-04-13 01:44] hasanemretonguc opened #1018 "omp.h missing ?????"
I have problem omp.h and arduino addon not compiling the sketch.
Code working on arduino ide.
Please help asap

![err](https://user-images.githubusercontent.com/13487220/79085466-5758b900-7d41-11ea-98dd-a87e1bd23c4b.PNG)
![err2](https://user-images.githubusercontent.com/13487220/79085471-59bb1300-7d41-11ea-9a7d-6a1923ac7d12.PNG)
![err3](https://user-images.githubusercontent.com/13487220/79085473-5

[2020-04-13 02:34] #1018 closed

[2020-04-13 02:34] hasanemretonguc commented on #1018
fixed by changing the sketch location

[2020-04-13 02:36] hasanemretonguc opened #1019 "WiFiClientSecure has no member "verify""
am i doing something wrong ?

![err](https://user-images.githubusercontent.com/13487220/79087654-a6eeb300-7d48-11ea-8233-42b1b5f93c53.PNG)

[2020-04-13 05:20] hellyzh commented on #1019
It looks like the board package issue. Have you selected the right board?
![image](https://user-images.githubusercontent.com/49181894/79094198-5186c600-7d89-11ea-911c-d8290e9beaf3.png)

[2020-04-13 09:28] hasanemretonguc commented on #1019
im using nodemcu v3 board. i change to generic esp8266. issue still persist
![err](https://user-images.githubusercontent.com/13487220/79109971-22208b00-7d82-11ea-9635-89f0292b1c96.PNG)

[2020-04-13 14:33] wilsonmfg commented on #1016
an adafruit Huzzah ESP8266.
is it possible there some code in the esp8266 board definition that's triggering vscode to do this?

[2020-04-14 01:42] hellyzh commented on #1016
Mis-identified esp32 is due to a hard code [usb mapping](https://github.com/microsoft/vscode-arduino/blob/master/misc/usbmapping.json#L110), It may need to manually switching board after plugged device in. But for the wrongly added arduino files, they really should be only added to project with ".ino" file.

[2020-04-14 01:45] hellyzh commented on #1011
@Iyaka25747 , thank you for confirm working. If no more issue, will close this issue.

[2020-04-14 05:36] hellyzh commented on #1019
You can go to definition of WiFiClientSecure to check if there is member "verify". It should be other member like "connected", "available".

[2020-04-14 10:45] hasanemretonguc commented on #1019
looks like it is
![err](https://user-images.githubusercontent.com/13487220/79216313-a263f080-7e55-11ea-89df-93a56dfe913a.PNG)

[2020-04-15 01:52] hellyzh commented on #1019
Is `"Arduino: Verify"` or `"Arduino: Upload"` working or not? If yes, it may be intellisense issue.

[2020-04-15 04:11] hasanemretonguc commented on #1019
verify and upload works

[2020-04-15 20:01] adamm commented on #1016
I've found that I can workaround the issue and avoid the hijack by adding to global settings.json:
`    "arduino.enableUSBDetection": false`
And restarting vscode.

[2020-04-16 02:44] hellyzh commented on #1019
It should be issue for the intellisense, please check the setting of file .vscode/c_cpp_properties.json according to [link](https://code.visualstudio.com/docs/cpp/c-cpp-properties-schema-reference).

[2020-04-17 21:43] hasanemretonguc commented on #1019
i couldnt find the problem can you help with that
![err](https://user-images.githubusercontent.com/13487220/79616384-97d38080-810d-11ea-936e-e12d67f0057b.PNG)

[2020-04-19 08:51] navanshu opened #1021 "Cannot connect to Serial port using WSL"
### Cannot open serial port monitor, also cannot upload the .ino files to the board.

I am using ubuntu WSL latest and arduino plugin in vs code. I am new to using this plugin in WSL. I have installed arduino IDE and have setup vscode to work with it.
Here is my arduino.json
Arduino is connected to COM port 6.
[code]
and here is my settings.json
[code]

When I am trying to open the serial port, I

[2020-04-19 14:47] mathertel commented on #1015
Some analysis:

It is about the additional Serial signals beside RX and TX. The current Arduino Extension (version 0.3.0) behaves different on the DTS and RTS signals that results in pulling the GPIO0 to low. Under this conditions a reset will start flash mode. This is reported by boot mode:(1,6) (use 74880 baud)
See:
https://github.com/esp8266/esp8266-wiki/wiki/Boot-Process#esp-boot-modes for mor

[2020-04-20 01:11] MINI-Qiang opened #1022 "Expect to add <arduino15> directory name customization"
Currently, <arduino15> in the source code is directly hard-programmed. If it can be customized, it is convenient to be compatible with some third-party IDEs based on arduino IDE

[2020-04-20 23:49] leemke opened #1023 "merge .arduino.json files from folder up to workspace"
Issue Type: <b>Feature Request</b>

I have a single workspace (only because I don't know how to create more. (later).  In one workspace I have multiple sketches. Each sketch has its own name.  However running arduino.initialize places a .arduino.json in the top sketch book (workspace) directory.  The problem: in running an upload vscode/arduino asked for the sketch name. It filled that name into t

[2020-04-21 00:05] leemke opened #1024 "VSCODE - Arduino (MS) chooses wrong port under linux/chorme os"
Issue Type: <b>Bug</b>

Running latest VSCODE and arduino 1.8.8 in Chrome OS (under linux buster).

In my initial setup, code set "COM1" as the default port value. And it would not allow me to change it.  COM1 does not mean a thing in linux.  I ran the arduino IDE and every thing works correctly.

I found out that if I add '  "port": "/dev/ttyAMC0" ' to the .arduino.json file it will use that valu

[2020-04-21 00:19] leemke opened #1025 "Arduino.h is not found when Arduino IDE is installed in /opt"
Issue Type: <b>Bug</b>

Running latest VSCODE on chrome os; linux.buster.
I installed arduino IDE into the /opt/.. directory (i.e. arduino-1.8.8).
I then installed the MS Ardunio extenstion.

Initially intellisense reported an error on "setup()" call. Then I realized
that the normal <Ardunion.h> include was missing. I added it to the
script.  Then Intellisence complained about not being able to fi

[2020-04-21 00:25] leemke opened #1026 "Warning message running VSCODE-arduino on linux"
Running Chrome OS / linux buster / installed latest VSCODE and arduino ide 1.8.8.

First experienced warning message about not finding something and will use a default which
will be slower.  The problem is that the "output" parameter was not specified in the .arduino.json
file. To eliminate the warning and reuse some pre-compiled files you need to add "output":"....",
to .arduino.json.  For simple

[2020-04-21 02:28] hellyzh commented on #1019
Please also try to specify `"compilerPath"`

[2020-04-21 13:15] #1026 closed

[2020-04-21 13:16] leemke commented on #1026
not well defined. Have added "output" attribute to arduino.json

[2020-04-21 13:17] #1025 closed

[2020-04-21 13:18] leemke commented on #1025
learned how to use multiple workspaces.  Every sketch is a new workspace.

[2020-04-21 13:19] leemke commented on #1023
learned how to use workspace as individual sketch.

[2020-04-21 13:19] #1023 closed

[2020-04-25 08:18] ZZJ34 commented on #438
Thank you for your answer and you answer gives me inspiration.But your `c_cpp_properties.json` content doesn't work on me.Considering the situation of windows and Linux,I changed some and it worked for me.this is my  `c_cpp_properties.json`content:
[code]

[2020-04-25 14:07] vukyvt2002 commented on #791
you have to use the folder contained arduino.exe

[2020-04-26 03:36] a7hybnj2 commented on #898
Can you describe what flash-it.* does? Is it project specific? Can it be linked to the 'upload' button so you don't have to run it manually?

[2020-04-26 05:12] hellyzh commented on #1024
You can run command `"Arduino: Select Serial Port"` or click the icon of Serial Port to select correct serial port.
![image](https://user-images.githubusercontent.com/49181894/80298499-82bab980-87bf-11ea-9c65-975dfcce17dc.png)

[2020-04-26 05:18] hellyzh commented on #1021
You can try to upgrade version of [nodejs](https://nodejs.org/en/download/).